{{ define "partial-request-overview-field" }}
<section class="space-y-2 pt-6" x-data="{ helpOpen: false }">
  <header>
    <h3 class="header-4">{{ .Label }}</h3>
  </header>

  <p class="whitespace-pre-wrap text-base leading-none">{{ .Value }}</p>

  <!-- prettier-ignore -->
  {{ if .HasChangeRequest }}
    {{ template "partial-request-change-request" .ChangeRequest }}
  {{ end }}

  <!-- prettier-ignore -->
  {{ if .IsApproved }}
    {{ template "partial-request-overview-field-approved" }}
  {{ end }}

  <footer>
    <section class="flex items-center gap-2 pt-2">
      <button
        type="button"
        class="button-outline"
        @click.prevent="helpOpen = !helpOpen"
        x-text="helpOpen ? 'Close Help' : 'Help'"
      >
        Help
      </button>

      <!-- prettier-ignore -->
      {{ if .AllowEdit }}
      <a href="{{ .Path }}" class="button-outline">Edit</a>
      {{ end }}
    </section>
  </footer>

  <div x-cloak x-show="helpOpen" class="pt-2"></div>
</section>
{{ end }}
