{{ define "partial-request-overview-field" }}
<section
  class="space-y-2 pt-6"
  x-data="{ helpOpen: false, editChangeRequestOpen: false }"
>
  <header>
    <h3 class="header-4">{{ .Label }}</h3>
  </header>

  <p class="whitespace-pre-wrap text-base leading-none">{{ .Value }}</p>

  {{ range .Values }}
  <p class="whitespace-pre-wrap text-base leading-none">{{ . }}</p>
  {{ end }}

  <!-- prettier-ignore -->
  {{ if .ChangeRequestConfig.Open }}
    {{ template "partial-request-change-request" .ChangeRequestConfig.Open }}
  {{ else if .ChangeRequestConfig.Change }}
    {{ template "partial-request-change-request" .ChangeRequestConfig.Change }}
  {{ end }}

  <!-- prettier-ignore -->
  {{ if .IsApproved }}
    {{ template "partial-request-overview-field-approved" }}
  {{ end }}

  <footer>
    <section class="flex items-center gap-2 pt-2">
      <button
        type="button"
        class="button button-outline"
        @click.prevent="helpOpen = !helpOpen"
        x-text="helpOpen ? 'Close Help' : 'Help'"
      >
        Help
      </button>

      {{ if and (not .ChangeRequestConfig.Open) .ShowRequestChangeAction }}
      <button
        type="button"
        class="button button-outline"
        @click.prevent="changeRequestOpenField = '{{ .Type }}'"
      >
        Request Change
      </button>
      {{ end }}

      <!-- prettier-ignore -->
      {{ if .AllowEdit }}
      <a href="{{ .Path }}" class="button button-outline">Edit</a>
      {{ end }}
    </section>

    <!-- prettier-ignore -->
    {{ template "partial-request-change-request-form" .ChangeRequestConfig }}
  </footer>

  <div x-cloak x-show="helpOpen" class="pt-2">{{ .Help }}</div>
</section>
{{ end }}
