{{ define "partial-request-field-footer" }}
<footer x-show="!commentOpen" class="flex justify-end gap-2 pt-4">
  {{ if and .ViewedByReviewer .StatusIsInReview -}}
  <button
    @click.prevent="commentOpen = true;"
    class="inline-flex h-10 items-center justify-center rounded-md border border-primary px-4 py-2 text-sm font-medium text-primary ring-offset-background transition-colors hover:bg-primary/10 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
    type="button"
  >
    Comment
  </button>
  {{ end -}}

  <!-- prettier-ignore -->
  {{ if .BackLink -}}
  <a
    href="{{ .BackLink }}"
    class="inline-flex h-10 items-center justify-center rounded-md border border-primary px-4 py-2 text-sm font-medium text-primary ring-offset-background transition-colors hover:bg-primary/10 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
  >
    Back
  </a>
  {{ end -}}
  <!-- prettier-ignore -->
  <!-- TODO: This should disable if the field is incomplete -->
  {{ if and .ViewedByPlayer (or .StatusIsIncomplete .StatusIsReady) }}
  <button
    type="submit"
    form="{{ .RequestFormID }}"
    class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
  >
    {{ .UpdateButtonText }}
  </button>
  {{ end -}}
</footer>
{{ end }}
