# Database schema files required for codegen
schema.hcl
migrations/

# Built js and css artifacts
web/static

# ick
node_modules

# Built artifacts
bin/

# Shared protobuf definition files
/proto

# Mac files
.DS_Store
**/.DS_Store
