<div class="flex items-center justify-between gap-2 border-b px-4 py-3">
  <div>
    <h2 class="text-base font-semibold leading-none">{{ .Title }}</h2>
    <p class="text-sm leading-none text-muted-foreground">{{ .About }}</p>
  </div>
  <label class="relative inline-flex cursor-pointer items-center">
    <input
      hx-post="{{ .Link }}"
      hx-trigger="click"
      hx-swap="none"
      name="issued"
      type="checkbox"
      value="true"
      class="peer sr-only"
    />
    <div
      class="peer h-6 w-11 rounded-full bg-gray-400 after:absolute after:start-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-white after:bg-white after:transition-all after:content-[''] peer-checked:bg-primary peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-primary rtl:peer-checked:after:-translate-x-full"
    ></div>
  </label>
</div>
