{{ define "partial-player-permissions-detail" }}
<div class="flex items-center justify-between gap-2 border-b px-4 py-3">
  <div>
    <h2 class="text-base font-semibold leading-none">{{ .Title }}</h2>
    <p class="text-sm leading-none text-muted-foreground">{{ .About }}</p>
  </div>
  <!-- prettier-ignore -->
  {{ if .Disabled }}
  {{ if .Granted }}
  <!-- prettier-ignore -->
  <label class="relative inline-flex items-center">
    <input
      name="issued"
      type="checkbox"
      value="true"
      class="peer sr-only"
      disabled
      checked
    />
    {{ template "partial-switch" }}
  </label>
  {{ else }}
  <label class="relative inline-flex items-center">
    <input
      name="issued"
      type="checkbox"
      value="true"
      class="peer sr-only"
      disabled
    />
    {{ template "partial-switch" }}
  </label>
  {{ end }}
  <!-- prettier-ignore -->
  {{ else if .Granted }}
  <label class="relative inline-flex cursor-pointer items-center">
    <input
      hx-post="{{ .Link }}"
      hx-trigger="click"
      hx-swap="none"
      name="issued"
      type="checkbox"
      value="true"
      class="peer sr-only"
      checked
    />
    {{ template "partial-switch" }}
  </label>
  {{ else -}}
  <label class="relative inline-flex cursor-pointer items-center">
    <input
      hx-post="{{ .Link }}"
      hx-trigger="click"
      hx-swap="none"
      name="issued"
      type="checkbox"
      value="true"
      class="peer sr-only"
    />
    {{ template "partial-switch" }}
  </label>
  {{ end }}
</div>
{{ end }}
