<p
  class="text-sm leading-none text-muted-foreground"
  x-cloak
  x-show="avatarSource === 'github'"
>
  Github's avatars are subject to their rate limits for their public API,
  depending on your user settings. We recommend using Gravatar instead, unless
  you already have a Github account and want to use that avatar specifically.
  <br />
  <br />
  <a
    href="https://github.com"
    target="_blank"
    rel="noreferrer noopener"
    class="cursor-pointer text-primary hover:text-primary/90 hover:underline"
  >
    Here's a link to Github.
  </a>
</p>
