<div
  id="no-email"
  class="w-[60%]"
  x-cloak
  x-show="document.getElementById('emails').childElementCount === 0"
>
  <div
    class="flex items-center rounded-md bg-amber-100 px-6 py-3 text-sm text-amber-800"
  >
    <div class="pr-2">
      <div class="flex items-center justify-center rounded-[50%]">
        <iconify-icon
          icon="ant-design:exclamation-circle-outlined"
          height="32"
          width="32"
        ></iconify-icon>
      </div>
    </div>
    <div>
      You haven't added any emails. Without one, you won't be able to recover
      your account.
      <br />
      <button
        type="button"
        class="cursor-pointer border-none bg-none font-semibold underline hover:text-amber-900"
        @click="
          addEmailMode = true;
          $nextTick(() => {
            setTimeout(() => {
              document.getElementById('add-email').focus();
            }, 50);
          });
        "
      >
        Click here to add an email address.
      </button>
    </div>
  </div>
</div>
