<div
  id="email-verified-status-{{ .ID }}"
  class="htmx-trade-indicator-out flex items-center rounded-md bg-amber-100 px-4 py-3 text-sm text-amber-800"
>
  <div class="pr-2">
    <div class="flex items-center justify-center rounded-[50%]">
      <iconify-icon
        icon="ant-design:exclamation-circle-outlined"
        height="32"
        width="32"
      ></iconify-icon>
    </div>
  </div>
  <div>
    This email hasn't been verified.
    <br />
    <button
      type="button"
      class="cursor-pointer border-none bg-none font-semibold underline hover:text-amber-900"
      hx-post="/player/email/{{ .ID }}/resend"
      hx-swap="outerHTML"
      hx-target="#email-verified-status-{{ .ID }}"
      hx-indicator="#email-verified-status-container-{{ .ID }}"
    >
      Click here to resend verification link.
    </button>
  </div>
</div>
