{{ define "requests-character-application-backstory-form" }}

<form
  id="{{ .RequestFormID }}"
  class="space-y-2 px-4 pt-4"
  hx-patch="{{ .RequestPath }}"
  hx-swap="none"
  x-data="getCharacterApplicationBackstoryData(`{{ .Backstory }}`)"
>
  <textarea
    id="character-application-flow-backstory"
    x-model="backstory"
    @input="
      eval.bs.len = true;
      backstory = sanitizeCharacterBackstory(event.target.value);
    "
    class="flex min-h-[8rem] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
    placeholder=""
    name="{{ .FieldBackstory }}"
    autofocus
  ></textarea>
  <!-- prettier-ignore -->
  {{ template "views/partials/requests/content/character/application/backstory/requirements" }}
</form>

{{ end }}
