<main
  class="flex h-screen w-screen items-center justify-center"
  x-data="getResetPasswordData()"
>
  <div class="w-full max-w-lg rounded-md border p-6">
    <div id="reset-password-error"></div>
    <p class="pt-4">Reset your password:</p>
    <form
      class="space-y-4 px-4 pt-4"
      @submit.prevent=""
      hx-post="/reset/password?t={{ .ResetPasswordToken }}"
      hx-target="#reset-password-error"
    >
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="recover-password-username"
        >
          Username
        </label>
        <input
          id="reset-password-username"
          x-model="username"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="username"
          value=""
          @focus="notifs.u = true"
          @input="
            eval.u.len = true;
            const reservedEl = document.getElementById('username-reserved');
            reservedEl.classList.add('htmx-request');
            usernameReserved = true;
            document.body.addEventListener('ptrcr:username-reserved', () => {
              const el = document.getElementById('player-reserved');
              usernameReserved = Boolean(el);
            }, { once: true });
            username = sanitizeUsername(event.target.value);
          "
          autofocus
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="reset-password-password"
        >
          New Password
        </label>
        <input
          id="reset-password-password"
          type="password"
          x-model="password"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="password"
          value=""
          @focus="notifs.pw = true"
          @input="
            setStrengths(strengths, event.target.value);
            setEvalStrengths(eval.pw.strengths, strengths);
            password = event.target.value;
          "
        />
        {{ template "web/views/partials/password/strengths" }}
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="reset-password-password"
        >
          Confirm Password
        </label>
        <input
          id="reset-password-confirm"
          type="password"
          x-model="confirmPassword"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="confirmPassword"
          value=""
          autofocus
        />
        {{ template "web/views/partials/password/confirm" }}
      </div>
      <div class="flex justify-end">
        <button
          id="reset-password-button"
          :disabled="!isUsernameValid(username) || !isPasswordValid(password) || password !== confirmPassword"
          class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          type="submit"
        >
          Reset Password
        </button>
      </div>
    </form>
  </div>
</main>
