<main
  class="flex h-screen w-screen flex-col items-center"
  x-data="getCharacterApplicationSummaryData()"
>
  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/header" . }}

  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/part/list" .CharacterApplicationParts }}
  <div class="w-full max-w-lg rounded-md border p-6">
    <!-- prettier-ignore -->
    {{ template "views/partials/character/application/summary/header/player" }}

    {{ template "views/partials/character/application/divider" }}

    {{ template "views/partials/character/application/summary/body/player" . }}
    <div class="flex justify-end gap-2 pt-4">
      {{ if .BackLink }}
      <a
        href="{{ .BackLink }}"
        class="inline-flex h-10 items-center justify-center rounded-md border border-primary px-4 py-2 text-sm font-medium text-primary ring-offset-background transition-colors hover:bg-primary/10 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      >
        Back
      </a>
      {{ end -}}

      <!-- prettier-ignore -->
      {{ if .StatusIncomplete -}}
      <button
        disabled
        @click.prevent=""
        class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
        type="button"
      >
        Submit
      </button>
      {{ end -}}

      <!-- prettier-ignore -->
      {{ if .StatusReady -}}
      <button
        @click.prevent="showSubmitDialog = true"
        class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
        type="button"
      >
        Submit
      </button>
      {{ end -}}
    </div>
  </div>
  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/submit-dialog" .SubmitCharacterApplicationPath }}
  {{ template "views/partials/character/application/cancel-dialog" .CharacterApplicationPath }}
</main>
