{{ define "partial-request-field-footer" }}
<footer class="pt-4">
  <section class="flex justify-end gap-2">
    <!-- prettier-ignore -->
    {{ if and .ViewedByReviewer .StatusIsInReview }}
    {{ if not .ChangeRequest }}
    <button
      type="button"
      class="button-outline"
      @click.prevent="changeRequestOpen = true;"
      x-show="!changeRequestOpen"
    >
      Request Change
    </button>
    {{ end }}

    <button
      type="button"
      class="button-primary button-primary-destructive"
      @click.prevent=""
      :disabled="changeRequestOpen"
    >
      Reject
    </button>

    <button
      type="button"
      class="button-primary"
      hx-post="{{ .ActionButtonPath }}"
      @click.prevent=""
      :disabled="changeRequestOpen"
    >
      {{ .ActionButtonText }}
    </button>
    {{ end }}

    <!-- prettier-ignore -->
    <!-- TODO: This should disable if the field is incomplete -->
    {{ if and .ViewedByPlayer (or .StatusIsIncomplete .StatusIsReady) }}
    <button type="submit" form="{{ .RequestFormID }}" class="button-primary">
      {{ .UpdateButtonText }}
    </button>
    {{ end }}
  </section>

  <!-- prettier-ignore -->
  {{ if .ChangeRequest }}
    {{ template "partial-request-change-request-form-edit" . }}
  {{ else }}
    {{ template "partial-request-change-request-form-create" . }}
  {{ end }}
</footer>
{{ end }}
