{{ define "partial-request-field-form-character-application-desc" }}
<form
  id="{{ .RequestFormID }}"
  class="space-y-4 px-4 pt-4"
  @submit.prevent=""
  hx-patch="{{ .RequestFormPath }}"
  hx-swap="none"
  x-data="getCharacterApplicationDescriptionData('{{ .FieldValue }}')"
>
  <div class="space-y-2">
    <textarea
      placeholder=""
      name="value"
      autofocus
      id="character-application-flow-description"
      class="input min-h-[10rem]"
      x-model="description"
      @input="
        eval.desc.len = true;
        backstory = sanitizeCharacterDescription(event.target.value);
      "
    ></textarea>
    <section>
      <!-- prettier-ignore -->
      {{ template "partial-request-field-requirements-character-application-desc" }}
    </section>
  </div>
</form>
{{ end }}
