<article
  id="request-comment-{{ .CID }}"
  x-data="getRequestCommentData(`{{ .Text }}`)"
  class="flex gap-3 rounded-md border px-4 py-3"
>
  <div>
    <span class="relative flex h-7 w-7 shrink-0 overflow-hidden rounded-full"
      ><img
        class="aspect-square h-full w-full"
        alt="comment-avatar"
        src="{{ .AvatarLink }}"
    /></span>
  </div>
  <div class="w-full">
    <header>
      <h2
        class="flex w-full items-end justify-between border-b text-xs font-semibold leading-none tracking-tight text-muted-foreground"
      >
        {{ .Author }}
      </h2>
    </header>

    <p x-show="!editOpen" class="py-3 text-sm leading-none">{{ .Text }}</p>
    {{ template "views/partials/request/comment/edit" . }}

    <footer x-show="!editOpen" class="flex items-end justify-end pt-2">
      {{ if .ViewedByAuthor -}}
      <div class="mr-auto flex items-end justify-end gap-2">
        <button
          type="button"
          @click.prevent="editOpen = true;"
          class="flex cursor-pointer items-end justify-end align-bottom text-xs leading-[0.9] text-muted-foreground hover:text-primary"
        >
          <iconify-icon icon="fe:pencil" height="12" width="12"></iconify-icon>

          Edit
        </button>
        <button
          x-show="!showDeleteConfirm"
          @click.prevent="showDeleteConfirm = true;"
          type="button"
          class="flex cursor-pointer items-end justify-end text-xs leading-[0.9] text-muted-foreground hover:text-primary"
        >
          <iconify-icon icon="fe:trash" height="12" width="12"></iconify-icon>

          Delete
        </button>

        <button
          x-show="showDeleteConfirm"
          @click.prevent="showDeleteConfirm = false;"
          type="button"
          class="flex cursor-pointer items-end justify-end text-xs leading-[0.9] text-muted-foreground hover:text-primary"
        >
          Don't Delete
        </button>
        <button
          x-show="showDeleteConfirm"
          @click.prevent="showDeleteConfirm = false;"
          type="button"
          class="flex cursor-pointer items-end justify-end text-xs leading-[0.9] text-rose-800 hover:text-rose-600"
        >
          <iconify-icon icon="fe:trash" height="12" width="12"></iconify-icon>

          Delete Permanently
        </button>
      </div>
      {{ end -}}

      <p
        x-text="parseTimeStamp({{ .CreatedAt }})"
        class="text-xs leading-[0.9] text-muted-foreground"
      ></p>
    </footer>
  </div>
</article>
<!-- TODO: Add Replies here -->
