<article class="flex gap-3 rounded-md border px-4 py-3">
  <div>
    <span class="relative flex h-7 w-7 shrink-0 overflow-hidden rounded-full"
      ><img
        class="aspect-square h-full w-full"
        alt="@test"
        src="{{ .AvatarLink }}"
    /></span>
  </div>
  <div class="w-full">
    <header class="pr-6">
      <h2
        class="w-full border-b text-xs font-semibold leading-none tracking-tight text-muted-foreground"
      >
        {{ .Author }}
      </h2>
    </header>
    <p class="pt-1 text-sm leading-none">{{ .Text }}</p>
    <div class="flex items-end justify-end pt-2">
      <p
        x-text="parseTimeStamp({{ .CreatedAt }})"
        class="text-xs leading-none text-muted-foreground"
      ></p>
    </div>
  </div>
</article>
