{{ define "partial-switch" }}
<!-- TODO: Find a good home for this and its parent parts -->
<div
  class="peer h-6 w-11 rounded-full bg-gray-400 after:absolute after:start-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-white after:bg-white after:transition-all after:content-[''] peer-checked:bg-primary peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-primary peer-disabled:bg-gray-200 peer-disabled:peer-checked:bg-gray-500 rtl:peer-checked:after:-translate-x-full"
></div>
{{ end }}
