<!-- TODO: Combine this with the other status icon partials -->
{{ define "partial-request-header-status-icon" }}
<!-- prettier-ignore -->
{{ if .StatusIsIncomplete }}
  {{ template "partial-request-status-icon-incomplete" .HeaderStatusIcon }}
  {{ template "partial-request-header-status-text" . }}
{{ else if .StatusIsReady }}
  {{ template "partial-request-status-icon-ready" .HeaderStatusIcon }}
  {{ template "partial-request-header-status-text" . }}
{{ else if .StatusIsSubmitted }}
  {{ template "partial-request-status-icon-submitted" .HeaderStatusIcon }}
  {{ template "partial-request-header-status-text" . }}
{{ else if .StatusIsInReview }}
  {{ template "partial-request-status-icon-in-review" .HeaderStatusIcon }}
  {{ template "partial-request-header-status-text" . }}
{{ else if .StatusIsApproved }}
  {{ template "partial-request-status-icon-approved" .HeaderStatusIcon }}
  {{ template "partial-request-header-status-text" . }}
{{ else if .StatusIsReviewed }}
  {{ template "partial-request-status-icon-reviewed" .HeaderStatusIcon }}
  {{ template "partial-request-header-status-text" . }}
{{ else if .StatusIsRejected }}
  {{ template "partial-request-status-icon-rejected" .HeaderStatusIcon }}
  {{ template "partial-request-header-status-text" . }}
{{ else if .StatusIsArchived }}
  {{ template "partial-request-status-icon-archived" .HeaderStatusIcon }}
  {{ template "partial-request-header-status-text" . }}
{{ else if .StatusIsCanceled }}
  {{ template "partial-request-status-icon-canceled" .HeaderStatusIcon }}
  {{ template "partial-request-header-status-text" . }}
{{ end }}
{{ end }}
