<!-- prettier-ignore -->
{{ define "partial-form-radio-input" }}
{{ if .Active }}
<input
  x-model="{{ .Variable }}"
  id="{{ .ID }}"
  :class="{ 'cursor-pointer': {{ .Variable }}!== '{{ .Value }}' }"
  class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
  type="radio"
  name="value"
  value="{{ .Value }}"
  checked
/>
{{ else }}
<input
  x-model="{{ .Variable }}"
  id="{{ .ID }}"
  :class="{ 'cursor-pointer': {{ .Variable }} !== '{{ .Value }}' }"
  class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
  type="radio"
  name="value"
  value="{{ .Value }}"
/>
<!-- prettier-ignore -->
{{ end }}
{{ end }}
