{{ define "partial-header-nav-account" }}
<li class="dropdown relative">
  <button type="button" class="nav-button group" @click="menuOpen = !menuOpen;">
    Account
    <iconify-icon
      class="icon"
      icon="tabler:chevron-down"
      height="16"
      width="16"
    ></iconify-icon>
  </button>
  <div class="dropdown-content absolute right-0 w-56 origin-top-right pt-2">
    <div class="divide-y rounded-md border">
      <section>
        {{ if eq .Path .Paths.Characters }}
        <div class="bg-muted px-4 py-2 text-sm">Characters</div>
        {{ else }}
        <a
          href="{{ .Paths.Characters }}"
          class="block px-4 py-2 text-sm hover:bg-muted"
        >
          Characters
        </a>
        {{ end }}
        <!--prettier-ignore -->
        {{ if eq .Path .Paths.Profile }}
        <div class="bg-muted px-4 py-2 text-sm">Profile</div>
        {{ else }}
        <a
          href="{{ .Paths.Profile }}"
          class="block px-4 py-2 text-sm hover:bg-muted"
        >
          Profile
        </a>
        {{ end }}
      </section>
      <section>
        <button
          type="button"
          class="px-4 py-2 text-sm hover:bg-muted"
          hx-post="/logout"
        >
          Logout
        </button>
      </section>
    </div>
  </div>
</li>
{{ end }}
