{{ define "partial-header-nav-login" }}
<li x-data="getLoginData()">
  <button
    class="cursor:pointer group inline-flex h-10 w-max items-center justify-center rounded-md bg-bg px-4 py-2 text-sm font-medium transition-colors hover:bg-accent hover:text-accent-fg focus:bg-accent focus:text-accent-fg focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-accent/50"
    @click="
      showModal = true;
      $nextTick(() => {
        setTimeout(() => {
          document.getElementById('login-username').focus();
        }, 50);
      });
    "
  >
    Log In
  </button>
  {{ template "partial-modal-overlay" "showModal" }}
  <div
    class="z-3 fixed left-[50%] top-0 w-full max-w-lg translate-x-[-50%] border bg-bg p-6 shadow-lg sm:rounded-lg md:top-[50%] md:translate-y-[-50%]"
    @click.away="showModal = false"
    x-cloak
    x-show="showModal"
  >
    <div id="login-error"></div>
    {{ template "partial-modal-close" "showModal" }}
    <p class="pt-4">Please log in:</p>
    <form
      class="space-y-4 px-4 pt-4"
      @submit.prevent=""
      hx-post="/login"
      hx-swap="none"
    >
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-username"
        >
          Username
        </label>
        <input
          name="username"
          placeholder=""
          value=""
          id="login-username"
          class="input"
          x-model="username"
          @input="
            username = sanitizeUsername(event.target.value);
          "
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-password"
        >
          Password
        </label>
        <input
          type="password"
          name="password"
          placeholder=""
          value=""
          id="login-password"
          class="input"
          x-model="password"
          @input="
            password = event.target.value;
          "
        />
      </div>
      <a class="text-xs leading-none hover:underline" href="/recover"
        >Don't have your username or password? Click here.</a
      >
      <footer class="flex justify-end">
        <button
          type="submit"
          class="button-primary"
          :disabled="!username.length || !password.length"
        >
          Log In
        </button>
      </footer>
    </form>
  </div>
</li>
{{ end }}
