{{ define "partial-header-nav-permissions" }}
<li class="dropdown relative">
  <button type="button" class="nav-button group" @click="menuOpen = !menuOpen;">
    Permissions
    <iconify-icon
      class="icon"
      icon="tabler:chevron-down"
      height="16"
      width="16"
    ></iconify-icon>
  </button>
  <div class="dropdown-content absolute right-0 w-56 origin-top-right pt-2">
    <div class="divide-y rounded-md border">
      <section>
        <!-- prettier-ignore -->
        {{ if eq .Path .Paths.PlayerPermissions }}
        <div class="bg-muted px-4 py-2 text-sm">Player Permissions</div>
        {{ else }}
        <a
          href="{{ .Paths.PlayerPermissions }}"
          class="block px-4 py-2 text-sm hover:bg-muted"
        >
          Player Permissions
        </a>
        {{ end }}
      </section>
    </div>
  </div>
</li>
{{ end }}
