{{ define "partial-header-nav-review" }}
<li class="dropdown relative">
  <button type="button" class="nav-button group" @click="menuOpen = !menuOpen">
    Review
    <iconify-icon
      class="icon"
      icon="tabler:chevron-down"
      height="16"
      width="16"
    ></iconify-icon>
  </button>
  <div class="dropdown-content absolute right-0 w-56 origin-top-right pt-2">
    <div class="divide-y rounded-md border">
      <!-- TODO: Get this path sorted out in the bind -->
      <section>
        <!-- prettier-ignore -->
        {{ if .ShouldShowMenus.ReviewCharacterApplications }}
        {{ if eq .Path .Paths.ReviewCharacterApplications }}
        <div class="bg-muted px-4 py-2 text-sm">Character Applications</div>
        {{ else }}
        <!-- TODO: Move these paths to a bind variable -->
        <a
          href="/character/application/queue"
          class="block px-4 py-2 text-sm hover:bg-muted"
        >
          Character Applications
        </a>
        <!-- prettier-ignore -->
        {{ end }}
        {{ end }}
      </section>
    </div>
  </div>
</li>
{{ end }}
