{{ define "partial-header-nav-review" }}
<li class="dropdown relative">
  <button type="button" class="nav-button group" @click="menuOpen = !menuOpen">
    Review
    <iconify-icon
      class="icon"
      icon="tabler:chevron-down"
      height="16"
      width="16"
    ></iconify-icon>
  </button>
  <div class="dropdown-content z-3 absolute right-0 w-56 origin-top-right pt-2">
    <div
      class="divide-y divide-gray-100 rounded-md bg-bg shadow-sm ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <!-- TODO: Get this path sorted out in the bind -->
      <div role="none">
        <!-- prettier-ignore -->
        {{ if .ShouldShowMenus.ReviewCharacterApplications }}
        {{ if eq .Path .Paths.ReviewCharacterApplications }}
        <p
          class="block bg-muted px-4 py-2 text-sm"
          role="menuitem"
          tabindex="-1"
          id="account-menu-0"
        >
          Character Applications
        </p>
        {{ else }}
        <!-- TODO: Move these paths to a bind variable -->
        <a
          href="/character/application/queue"
          class="block bg-bg px-4 py-2 text-sm hover:bg-muted"
          role="menuitem"
          tabindex="-1"
          id="account-menu-0"
        >
          Character Applications
        </a>
        {{ end }}
        <!-- prettier-ignore -->
        {{ end }}
      </div>
    </div>
  </div>
</li>
{{ end }}
