<!-- prettier-ignore -->
{{ define "requests-character-application-name-form" }}

<form
  id="{{ .RequestFormID }}"
  class="space-y-2 px-4 pt-4"
  x-data="getCharacterApplicationNameData(`{{ .Name }}`)"
  @submit.prevent=""
  hx-patch="{{ .RequestPath }}"
  hx-swap="none"
>
  <input
    id="requests-character-application-name"
    x-model="name"
    @input="
      eval.n.len = true;
      name = sanitizeCharacterName(event.target.value);
    "
    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
    placeholder=""
    name="{{ .Field }}"
    value=""
    autofocus
  />
  <section>
    <!-- prettier-ignore -->
    {{ template "views/partials/requests/content/character/application/name/requirements" }}
  </section>
</form>

{{ end }}
