@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

[x-cloak] {
  display: none !important;
}

body {
  scrollbar-gutter: stable;
}

.flow > * + * {
  padding-top: 1.5rem;
}

#username-reserved:not(.htmx-request) > #username-reserved-indicator {
  display: none;
}

#username-reserved.htmx-request > #username-reserved-status {
  display: none;
}

#username-reserved.htmx-request > #username-reserved-indicator {
  display: default;
}

.htmx-trade-indicator:not(.htmx-request) > .htmx-trade-indicator-in {
  display: none;
}

.htmx-trade-indicator.htmx-request > .htmx-trade-indicator-out {
  display: none;
}

.htmx-trade-indicator.htmx-request > .htmx-trade-indicator-in {
  display: default;
}

.dropdown .dropdown-content {
  display: none;
}

.dropdown .icon {
  transition: transform 250ms;
}

.hard-dropdown .icon {
  transition: transform 250ms;
}

.hard-dropdown.open .icon {
  transform: rotate(-180deg);
}

.dropdown:hover .icon {
  transform: rotate(-180deg);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.request-summary-fields:hover > .request-summary-field:not(:hover) {
  transition: opacity 250ms;
  opacity: 0.5;
}

.notice {
  @apply rounded-md text-sm leading-none px-6 py-4 flex items-center;
}

.notice-error {
  @apply bg-rose-100 text-rose-800;
}

.notice-warn {
  @apply bg-amber-100 text-amber-800;
}

.notice-info {
  @apply bg-sky-100 text-sky-800;
}

.notice-success {
  @apply bg-emerald-100 text-emerald-800;
}

.notice-link {
  @apply cursor-pointer border-none bg-none font-semibold;
}

.notice-link:hover {
  @apply underline;
}

.notice-link-error:hover {
  @apply text-rose-600;
}

.notice-link-warn:hover {
  @apply text-amber-600;
}

.notice-link-info:hover {
  @apply text-sky-600;
}

.notice-link-success:hover {
  @apply text-emerald-600;
}
