{{ define "partial-profile-avatar-gravatar-email" }}
<div
  id="gravatar-email-option-{{ .ID }}"
  class="no-select block cursor-default px-4 py-2 text-sm hover:bg-muted"
  :class="
    if (selectedEmail === '{{ .Address }}') {
      return 'bg-muted';
    } else {
      return 'cursor-pointer';
    }
  "
  @click="
    open = false;
    if (selectedEmail === '{{ .Address }}') return;
    selectedEmail = '{{ .Address }}';
  "
  role="menuitem"
  tabindex="-1"
>
  {{ .Address }}
</div>
{{ end }}
