<main
  class="flex h-screen w-screen flex-col items-center"
  x-data="getCharacterApplicationBackstoryData(`{{ .Backstory }}`)"
>
  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/header" . }}

  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/nav/list" .CharacterApplicationNav }}
  <div class="w-full max-w-lg rounded-md border">
    <!-- prettier-ignore -->
    {{ template "views/partials/character/application/header/actions" . }}

    <div class="w-full px-6 pb-6">
      <div id="character-application-flow-error"></div>
      <!-- prettier-ignore -->
      {{ if .StatusReady -}}
      {{ template "views/partials/character/application/notifications/submit" . }}
      {{ end -}}

      <!-- prettier-ignore -->
      {{ template "views/partials/character/application/content/backstory/header" }}

      {{ template "views/partials/character/application/divider" }}

      <form
        class="space-y-4 px-4 pt-4"
        @submit.prevent=""
        hx-patch="{{ .CharacterApplicationBackstoryPath }}"
        hx-swap="none"
      >
        <div class="space-y-2">
          <textarea
            id="character-application-flow-backstory"
            x-model="backstory"
            @input="
            eval.bs.len = true;
            backstory = sanitizeCharacterBackstory(event.target.value);
          "
            class="flex min-h-[8rem] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            placeholder=""
            name="backstory"
            autofocus
          ></textarea>
          <div>
            <!-- prettier-ignore -->
            {{ template "views/partials/character/application/content/backstory/requirements" }}
          </div>
        </div>

        <div class="flex justify-end gap-2 pt-4">
          {{ if .BackLink }}
          <a
            href="{{ .BackLink }}"
            class="inline-flex h-10 items-center justify-center rounded-md border border-primary px-4 py-2 text-sm font-medium text-primary ring-offset-background transition-colors hover:bg-primary/10 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          >
            Back
          </a>
          {{ end -}}
          <button
            :disabled="!isCharacterBackstoryValid(backstory)"
            class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
            type="submit"
          >
            Summary
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/dialogs/submit" .SubmitCharacterApplicationPath }}
  {{ template "views/partials/character/application/dialogs/cancel" .CharacterApplicationPath }}
</main>
