<main class="flex flex-col items-center" x-data="getCharacterApplicationData()">
  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/header" . }}
  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/nav/list" .CharacterApplicationNav }}
  <div class="w-full max-w-lg rounded-md border">
    <!-- prettier-ignore -->
    {{ template "views/partials/character/application/actions" . }}

    <div class="w-full px-6 pb-6">
      <!-- prettier-ignore -->
      {{ template "views/partials/character/application/content/backstory/header" }}

      {{ template "views/partials/character/application/divider" }}

      <p class="text-sm leading-none tracking-tight text-muted-foreground">
        {{ .Name }}'s backstory:
      </p>
      <p class="whitespace-pre-wrap text-base leading-none tracking-tight">
        {{ .Backstory }}
      </p>

      <!-- prettier-ignore -->
      {{ template "views/partials/character/application/footer" . }}
      <!-- prettier-ignore -->
      {{ template "views/partials/character/application/comment/form" . }}
    </div>
  </div>

  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/comment/list" . }}

  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/dialogs/cancel" .CharacterApplicationPath }}
</main>
