{{ define "partial-request-change-request" }}
<section
  id="change-request"
  class="py-2"
  x-show="!changeRequestOpen && !editChangeRequestOpen"
>
  <div
    class="items-center rounded-md bg-warn-bg px-6 py-4 text-sm leading-none text-warn-fg"
  >
    <h3 class="font-semibold">Change Requested:</h3>
    <p>{{ .Text }}</p>
    {{ if .FieldValue }}
    <h3 class="font-semibold">For:</h3>
    <p>{{ .FieldValue }}</p>
    {{ end }}
    <footer class="flex items-center justify-end gap-2 text-xs">
      {{ if .ShowDeleteAction }}
      <button
        type="button"
        class="notice-link-warn flex cursor-pointer items-end justify-end gap-[0.5] align-bottom text-xs leading-[0.9]"
        hx-delete="{{ .Path }}"
        hx-swap="none"
      >
        <iconify-icon icon="fe:trash" height="12" width="12"></iconify-icon>
        Delete
      </button>
      {{ end }}

      <!-- prettier-ignore -->
      {{ if .ShowEditAction }}
      <button
        type="button"
        class="notice-link-warn flex cursor-pointer items-end justify-end gap-[0.5] align-bottom text-xs leading-[0.9]"
        @click.prevent="editChangeRequestOpen = true;"
      >
        <iconify-icon icon="fe:pencil" height="12" width="12"></iconify-icon>
        Edit
      </button>
      {{ end }}
    </footer>
  </div>
</section>
{{ end }}
