{{ define "partial-request-field-form-character-application-backstory" }}
<form
  id="{{ .RequestFormID }}"
  class="space-y-2 px-4 pt-4"
  hx-patch="{{ .RequestFormPath }}"
  hx-swap="none"
  x-data="getCharacterApplicationBackstoryData(`{{ .FieldValue }}`)"
>
  <textarea
    placeholder=""
    name="value"
    autofocus
    id="character-application-flow-backstory"
    class="input min-h-[15rem]"
    x-model="backstory"
    @input="
      eval.bs.len = true;
      backstory = sanitizeCharacterBackstory(event.target.value);
    "
  ></textarea>
  <section>
    <!-- prettier-ignore -->
    {{ template "partial-request-field-requirements-character-application-backstory" }}
  </section>
</form>
{{ end }}
