{{ define "partial-forms-checkbox" }}
<!-- TODO: Get this into a discrete class -->
<button
  type="button"
  role="checkbox"
  aria-checked="false"
  data-state="unchecked"
  value="{{ . }}"
  class="ring-offset-background data-[state=checked]:text-primary-foreground peer h-4 w-4 shrink-0 rounded-sm border border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary"
></button>
{{ end }}
