{{ define "requests-character-application-desc-form" }}
<form
  id="{{ .RequestFormID }}"
  class="space-y-4 px-4 pt-4"
  @submit.prevent=""
  hx-patch="{{ .RequestFormPath }}"
  hx-swap="none"
  x-data="getCharacterApplicationDescriptionData('{{ .FieldValue }}')"
>
  <div class="space-y-2">
    <textarea
      id="character-application-flow-description"
      x-model="description"
      @input="
        eval.desc.len = true;
        backstory = sanitizeCharacterDescription(event.target.value);
      "
      class="flex min-h-[10rem] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
      placeholder=""
      name="{{ .Field }}"
      autofocus
    ></textarea>
    <section>
      <!-- prettier-ignore -->
      {{ template "partial-request-character-application-desc-requirements" }}
    </section>
  </div>
</form>
{{ end }}
