{{ define "partial-character-application-summary-player" }}
<!-- TODO: Find something to call this besides "summary" -->
<a href="{{ .Link }}">
  <div
    class="flex w-full cursor-pointer rounded-md border py-6 transition duration-300 hover:-translate-x-1 hover:-translate-y-2 hover:shadow-md md:w-[450px]"
  >
    <div class="flex flex-col items-center justify-center px-6">
      {{ template "partial-request-status-icon" .StatusIcon }}
    </div>
    <div class="flex flex-col">
      <h2 class="text-lg font-semibold leading-none tracking-tight">
        {{ .Title }}
      </h2>
      <p class="text-base leading-none text-muted-fg">Character Application</p>
      <!-- TODO: Status color -->
      <p class="text-base font-semibold leading-none">{{ .StatusText }}</p>
    </div>
  </div>
</a>
{{ end }}
