<!-- prettier-ignore -->
{{ define "view-request-character-application-backstory" }}
{{ template "partial-request-character-application-backstory-help" . }}
{{ template "partial-request-divider" . }}
<section id="change-request"></section>
<!-- prettier-ignore -->
{{ if and .ViewedByPlayer (or .StatusIsReady .StatusIsIncomplete) }}
  {{ template "partial-requests-character-application-backstory-form" . }}
{{ else }}
  {{ template "partial-requests-character-application-backstory-data" . }}
{{ end }}
{{ end }}
