<!-- prettier-ignore -->
{{ define "view-request-character-application-backstory" }}
{{ template "partial-request-character-application-backstory-help" . }}
{{ template "partial-request-divider" . }}

{{ if .ChangeRequest }}
{{ template "partial-request-change-request" .ChangeRequest }}
{{ else }}
{{ template "partial-request-change-request-empty" }}
{{ end }}

{{ if .AllowEdit }}
  {{ template "partial-requests-character-application-backstory-form" . }}
{{ else }}
  {{ template "partial-requests-character-application-backstory-data" . }}
{{ end }}
{{ end }}
