<!-- prettier-ignore -->
{{ define "view-request-character-application-desc" }}
{{ template "partial-request-character-application-desc-help" . }}
{{ template "partial-request-divider" . }}

{{ if .ChangeRequest }}
{{ template "partial-request-change-request" .ChangeRequest }}
{{ else }}
{{ template "partial-request-change-request-empty" }}
{{ end }}

{{ if and .ViewedByPlayer (or .StatusIsReady .StatusIsIncomplete) }}
  {{ template "partial-requests-character-application-desc-form" . }}
{{ else }}
  {{ template "partial-requests-character-application-desc-data" . }}
{{ end }}
{{ end }}
