<!-- prettier-ignore -->
{{ define "view-request-character-application-gender" }}
{{ template "partial-request-character-application-gender-help" . }}
{{ template "partial-request-divider" . }}

{{ if .ChangeRequest }}
{{ template "partial-request-change-request" .ChangeRequest }}
{{ else }}
{{ template "partial-request-change-request-empty" }}
{{ end }}

{{ if and .AllowEdit }}
  {{ template "partial-requests-character-application-gender-form" . }}
{{ else }}
  {{ template "partial-requests-character-application-gender-data" . }}
{{ end }}
{{ end }}
