{{ define "layout-request-field" }}

<!doctype html>
<html lang="en">
  {{ template "head" . }}

  <body>
    <!-- prettier-ignore -->
    {{ if not .StatusIsIncomplete -}}
      {{ template "header" . }}
    {{ end }}

    <main
      x-data="getRequestData()"
      class="flex h-screen w-full flex-col items-center pt-10"
    >
      <section class="w-full max-w-lg rounded-md border p-6">
        {{ template "views/partials/requests/content/header" . }}

        <!-- prettier-ignore -->
        {{ embed }}

        {{ template "views/partials/requests/footer" . }}
      </section>
    </main>
  </body>
</html>

{{ end }}
