{{ define "partial-requests-character-application-name-form" }}
<form
  id="{{ .RequestFormID }}"
  class="space-y-2 px-4 pt-4"
  x-data="getCharacterApplicationNameData(`{{ .FieldValue }}`)"
  @submit.prevent=""
  hx-patch="{{ .RequestFormPath }}"
  hx-swap="none"
>
  <input
    placeholder=""
    name="value"
    autofocus
    id="requests-character-application-name"
    class="input"
    x-model="name"
    @input="
      eval.n.len = true;
      name = sanitizeCharacterName(event.target.value);
    "
  />
  <section>
    {{ template "partial-request-character-application-name-requirements" }}
  </section>
</form>
{{ end }}
