{{ define "partial-request-field-form-character-application-name" }}
<form
  id="{{ .FormID }}"
  class="space-y-2 px-4 pt-4"
  x-data="getCharacterApplicationNameData(`{{ .FieldValue }}`)"
  @submit.prevent=""
  hx-patch="{{ .Path }}"
  hx-swap="none"
>
  <input
    placeholder=""
    name="value"
    autofocus
    id="requests-character-application-name"
    class="input"
    x-model="name"
    @input="
      eval.n.len = true;
      name = sanitizeCharacterName(event.target.value);
    "
  />
  <section>
    <!-- prettier-ignore -->
    {{ template "partial-request-field-requirements-character-application-name" }}
  </section>
</form>
{{ end }}
