{{ define "partial-resend-verification-email-err-not-found" }}
<div
  id="email-404-notification-{{ .ID }}"
  class="htmx-trade-indicator-out notice notice-error"
>
  {{ template "partial-notice-icon" .IconWarn }}
  <div>
    This email doesn't exist anymore.
    <br />
    <button
      type="button"
      class="notice-link notice-link-error"
      @click="
        addEmailMode = true;
        $nextTick(() => {
          setTimeout(() => {
            document.getElementById('email-{{ .ID }}').remove();
            document.getElementById('add-email').focus();
          }, 50);
        });
      "
    >
      Click here to add an email address.
    </button>
  </div>
</div>
{{ end }}
