{{ define "partial-profile-email-add" }}
<section id="add-email-error"></section>
<section class="flex w-full flex-col px-3 pt-2 md:w-[60%] md:px-0">
  <div
    id="add-email-button"
    class="htmx-trade-indicator flex h-12 items-center"
    x-show="!addEmailMode"
  >
    <button
      class="htmx-trade-indicator-out inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      type="button"
      :disabled="document.getElementById('emails').childElementCount >= 3"
      @click="
        addEmailMode = true;
        $nextTick(() => {
          setTimeout(() => {
            document.getElementById('add-email').focus();
          }, 50);
        });
      "
    >
      Add Email
    </button>
    <button
      type="button"
      class="htmx-trade-indicator-in flex h-10 flex-col items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      :disabled="document.getElementById('emails').childElementCount >= 3"
    >
      <img class="mx-4 h-8 w-8" src="/loaders/three-dots.svg" alt="loading" />
    </button>
  </div>
  <form
    class="flex gap-2"
    @submit.prevent="
      addEmailMode = false;
      $nextTick(() => {
        addEmail = '';
      });
    "
    hx-post="/player/email/new"
    hx-params="email"
    hx-trigger="submit"
    hx-target="#emails"
    hx-swap="beforeend"
    hx-indicator="#add-email-button"
    x-cloak
    x-show="addEmailMode"
  >
    <input
      id="add-email"
      class="flex h-12 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
      x-model="addEmail"
      @keydown.escape.prevent=""
      @keyup.escape="
        addEmailMode = false;
        addEmail = '';
      "
      placeholder=""
      name="email"
    />
    <div class="htmx-trade-indicator flex flex-col items-start gap-1">
      <button
        type="submit"
        class="htmx-trade-indicator-out inline-flex h-8 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
        :disabled="document.getElementById('emails').childElementCount >= 3"
      >
        Add
      </button>
      <button
        type="button"
        @click="
          addEmailMode = false;
          addEmail = '';
        "
        class="bg-none text-xs leading-none text-muted-foreground hover:text-primary hover:underline"
      >
        Cancel
      </button>
    </div>
  </form>
</section>
{{ end }}
