{{ define "partial-profile-email-err-conflict" }}
<section class="pb-2">
  <div class="notice notice-error flex items-center">
    <!-- prettier-ignore -->
    {{ template "partial-notice-icon" .IconWarn }}
    <div>
      <span class="font-semibold">{{ .Address }}</span> is already in use.
      Please use a different address.
      <br />
      <button
        type="button"
        class="notice-link notice-link-warn"
        @click="
          addEmailMode = true;
          $nextTick(() => {
            setTimeout(() => {
              document.getElementById('add-email').focus();
            }, 50);
          });
        "
      >
        Click here to add an email address.
      </button>
    </div>
  </div>
</section>
{{ end }}
