{{ define "partial-profile-email-none" }}
<section
  id="no-email"
  class="w-[60%]"
  x-cloak
  x-show="document.getElementById('emails').childElementCount === 0"
>
  <div class="notice notice-warn">
    <!-- prettier-ignore -->
    {{ template "partial-notice-icon" .IconWarn }}
    <div>
      You haven't added any emails. Without one, you won't be able to recover
      your account.
      <br />
      <button
        type="button"
        class="notice-link notice-link-warn"
        @click="
          addEmailMode = true;
          $nextTick(() => {
            setTimeout(() => {
              document.getElementById('add-email').focus();
            }, 50);
          });
        "
      >
        Click here to add an email address
      </button>
    </div>
  </div>
</section>
{{ end }}
