{{ define "partial-profile-email-unverified" }}
<article
  id="email-{{ .ID }}"
  class="w-full md:w-[60%]"
  x-data="getEmailData('{{ .Address }}')"
>
  <div
    id="email-inner-{{ .ID }}"
    class="border px-2 md:rounded-md md:px-3"
    x-show="!editMode && !deleteMode"
  >
    <div class="flex h-12 items-center">
      <p>{{ .Address }}</p>
      <div
        class="ml-auto flex items-center justify-end gap-2 text-xs text-muted-fg"
      >
        <button
          type="button"
          class="border-none bg-none text-xs text-muted-fg hover:text-err-hl hover:underline"
          @click="deleteMode = true;"
        >
          Delete
        </button>
      </div>
    </div>
    <section
      id="email-verified-status-container-{{ .ID }}"
      class="htmx-trade-indicator pb-3"
    >
      <section
        id="email-verified-status-{{ .ID }}"
        class="htmx-trade-indicator-out"
      >
        <div class="notice notice-warn">
          {{ template "partial-notice-icon-warn" }}
          <div>
            <p>This email hasn't been verified.</p>
            <button
              type="button"
              class="notice-link notice-link-warn"
              hx-post="/player/email/{{ .ID }}/resend"
              hx-swap="outerHTML"
              hx-target="#email-verified-status-{{ .ID }}"
              hx-indicator="#email-verified-status-container-{{ .ID }}"
            >
              Click here to resend verification link
            </button>
          </div>
        </div>
      </section>
      <section
        id="email-verified-status-loading-{{ .ID }}"
        class="htmx-trade-indicator-in notice bg-muted text-primary"
      >
        <img
          class="h-8 w-8 pr-2"
          src="/loaders/puff-primary.svg"
          alt="loading"
        />
        <div>
          Please wait while we resend the verification link to
          <br />
          <span class="font-semibold">{{ .Address }}</span>.
        </div>
      </section>
    </section>
  </div>
  <!-- TODO: Get these colors into a theme variable -->
  <div
    class="flex h-12 items-center rounded-md bg-err px-3"
    x-cloak
    x-show="deleteMode"
  >
    <p class="text-sm leading-none text-err-fg">
      Are you sure you want to delete
      <span class="font-semibold">{{ .Address }}</span>?
    </p>
    <div
      class="ml-auto flex items-center justify-end gap-2 text-xs text-muted-fg"
    >
      <button
        type="button"
        class="border-none bg-none text-xs text-primary hover:text-primary/90 hover:underline"
        @click="deleteMode = false;"
      >
        Go Back
      </button>
      <button
        type="button"
        class="border-none bg-none text-xs text-err-fg hover:text-err-hl hover:underline"
        hx-delete="/player/email/{{ .ID }}"
        hx-target="#email-{{ .ID }}"
      >
        Delete
      </button>
    </div>
  </div>
</article>
{{ end }}
