{{ define "partial-profile-email-verified" }}
<!-- TODO: Work out what to do when an htmx request fails entirely - i.e. fetch error -->
<div
  id="email-{{ .ID }}"
  class="w-full md:w-[60%]"
  x-data="getEmailData('{{ .Address }}')"
>
  <div
    id="email-inner-{{ .ID }}"
    class="h-14 w-full items-center"
    x-show="!editMode"
  >
    <div
      class="flex h-12 items-center border px-2 md:rounded-md md:px-3"
      x-show="!deleteMode"
    >
      <p>{{ .Address }}</p>
      <div
        class="ml-auto flex items-center justify-end gap-2 text-xs text-muted-foreground"
      >
        <button
          type="button"
          class="border-none bg-none text-xs text-muted-foreground hover:text-primary hover:underline"
          @click="
          editMode = true;
          $nextTick(() => {
            setTimeout(() => {
              document.getElementById('edit-email-{{ .ID }}').focus();
            }, 50);
          });
        "
        >
          Edit
        </button>
        <button
          type="button"
          class="border-none bg-none text-xs text-muted-foreground hover:text-rose-900 hover:underline"
          @click="deleteMode = true"
        >
          Delete
        </button>
      </div>
    </div>
    <div
      class="flex h-12 items-center rounded-md bg-rose-100 px-3"
      x-cloak
      x-show="deleteMode"
    >
      <p class="text-sm leading-none text-rose-800">
        Are you sure you want to delete
        <span class="font-semibold">{{ .Address }}</span>?
      </p>
      <div
        class="ml-auto flex items-center justify-end gap-2 text-xs text-muted-foreground"
      >
        <button
          type="button"
          class="border-none bg-none text-xs text-primary hover:text-primary/90 hover:underline"
          @click="deleteMode = false"
        >
          Go Back
        </button>
        <button
          type="button"
          class="border-none bg-none text-xs text-muted-foreground text-rose-800 hover:text-rose-900 hover:underline"
          hx-delete="/player/email/{{ .ID }}"
          hx-target="#email-inner-{{ .ID }}"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <form
    class="flex h-14 gap-2"
    x-cloak
    x-show="editMode"
    @submit.prevent=""
    hx-put="/player/email/{{ .ID }}"
    hx-target="#email-{{ .ID }}"
    hx-swap="outerHTML"
  >
    <input
      id="edit-email-{{ .ID }}"
      class="flex h-12 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
      x-model="email"
      @keydown.escape.prevent=""
      @keyup.escape="
        editMode = false;
        email = loadEmail;
      "
      placeholder=""
      name="email"
    />
    <div class="flex flex-col items-start gap-1 pt-2">
      <button
        type="submit"
        class="bg-none text-xs leading-none text-muted-foreground hover:text-primary hover:underline"
      >
        Save
      </button>
      <button
        type="button"
        @click="
          editMode = false;
          email = loadEmail;
        "
        class="bg-none text-xs leading-none text-muted-foreground hover:text-primary hover:underline"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
{{ end }}
