{{ define "partial-request-status-icon" }}
<!-- prettier-ignore -->
{{ if .StatusIncomplete }}
  {{ template "partial-request-status-icon-incomplete" . }}
{{ else if .StatusReady }}
  {{ template "partial-request-status-icon-ready" . }}
{{ else if .StatusSubmitted }}
  {{ template "partial-request-status-icon-submitted" . }}
{{ else if .StatusInReview }}
  {{ template "partial-request-status-icon-in-review" . }}
{{ else if .StatusApproved }}
  {{ template "partial-request-status-icon-approved" . }}
{{ else if .StatusReviewed }}
  {{ template "partial-request-status-icon-reviewed" . }}
{{ else if .StatusRejected }}
  {{ template "partial-request-status-icon-rejected" . }}
{{ else if .StatusArchived }}
  {{ template "partial-request-status-icon-archived" . }}
{{ else if .StatusCanceled }}
  {{ template "partial-request-status-icon-canceled" . }}
{{ end }}
{{ end }}
