<!--prettier-ignore -->
{{ define "partial-request-field-nav-item" }} 
{{ if .Current -}}
<div class="group block bg-muted px-4 py-2 text-sm leading-none">
  <div class="flex items-center justify-between gap-2">
    <!-- prettier-ignore -->
    {{ .Label }}

    {{ if .Ready }}
    <iconify-icon
      class="text-success-fg"
      icon="ic:check"
      width="20"
      height="20"
    ></iconify-icon>
    {{ else }}
    <iconify-icon
      class="text-muted-fg"
      icon="ph:dots-three-outline-fill"
      width="20"
      height="20"
    ></iconify-icon>
    {{ end }}
  </div>
</div>
{{ else }}
<a
  href="{{ .Link }}"
  class="group block bg-bg px-4 py-2 text-sm leading-none hover:bg-muted"
>
  <div class="flex items-center justify-between gap-2">
    <!-- prettier-ignore -->
    {{ .Label }}

    {{ if .Ready }}
    <iconify-icon
      class="text-success-fg"
      icon="ic:check"
      width="20"
      height="20"
    ></iconify-icon>
    {{ else }}
    <iconify-icon
      class="text-muted-fg"
      icon="ph:dots-three-outline-fill"
      width="20"
      height="20"
    ></iconify-icon>
    {{ end }}
  </div>
</a>
<!-- prettier-ignore -->
{{ end }}
{{ end }}
