{{ define "partial-edit-room-exits-grid" }}
<section id="test-room-grid" class="flex flex-col gap-4 pt-6">
  <h4 class="text-sm font-medium leading-none">Grid</h4>
  {{ range .RoomGrid }}
  <section id="{{ .ID }}" class="flex items-center gap-4">
    <!-- prettier-ignore -->
    {{ range .Rooms }} 
      {{ if eq .ID 0 }}
        {{ template "partial-edit-room-exits-grid-empty" . }}
      {{ else }}
        {{ template "partial-edit-room-exits-grid-existing" . }}
      {{ end }}
    {{ end }}
  </section>
  {{ end }}
</section>
{{ end }}
