{{ define "partial-room-link" }}
<div class="flex w-full items-center border-b p-4">
  <header>
    <h4 class="text-base font-semibold leading-none">{{ .Title }}</h4>
    <div class="text-sm leading-none text-muted-fg">{{ .SizeString }}</div>
  </header>
  <div class="ml-auto flex items-center justify-center gap-2">
    {{ if .EditPath }}
    <a href="{{ .EditPath }}" class="button-outline">Edit</a>
    {{ end }}
    <a href="{{ .Path }}" class="button-outline">View</a>
  </div>
</div>
{{ end }}
