{{ define "partial-profile-email-delete-err-internal" }}
<section id="profile-email-error" class="w-[60%]">
  <div class="notice notice-error">
    {{ template "partial-notice-icon" .IconWarn }}
    <div>
      Something's gone terribly wrong and that email couldn't be deleted.
      <br />
      <button
        type="button"
        class="notice-link notice-link-error"
        @click="window.location.reload()"
      >
        Click here to refresh the page
      </button>
    </div>
  </div>
</section>
{{ end }}
