<article class="flex flex-col border-b py-4">
  <h2 class="text-base font-semibold leading-none">Avatar</h2>
  <div class="flex gap-4 pt-4">
    <div>{{ template "web/views/partials/player/avatar/avatar" . }}</div>
    <div class="flex flex-col">
      <div>Service (Gravatar/Github)</div>
      <div>URL</div>
    </div>
    <div class="pl-4">
      <p class="w-[50%] text-sm leading-none text-muted-foreground">
        Avatars sourced from Gravatar rely on your email. You can select which
        email to use for your avatar and any variant here.
      </p>
    </div>
  </div>
</article>
