{{ define "view-recover-password" }}
<main
  class="flex h-screen w-screen items-center justify-center"
  x-data="{ username: '', email: '' }"
>
  <div class="w-full max-w-lg rounded-md border p-6">
    <section id="recover-password-err"></section>
    <p class="pt-4">Password recovery:</p>
    <form
      class="space-y-4 px-4 pt-4"
      @submit.prevent=""
      hx-post="/recover/password"
      hx-swap="none"
    >
      <div class="space-y-2">
        <label
          for="recover-password-username"
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >
          Username
        </label>
        <input
          name="username"
          placeholder=""
          value=""
          autofocus
          id="recover-username-email"
          class="input"
          x-model="username"
        />
      </div>
      <div class="space-y-2">
        <label
          for="recover-password-email"
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >
          Email Address
        </label>
        <input
          name="email"
          placeholder=""
          value=""
          id="recover-username-email"
          class="input"
          x-model="email"
        />
        <div
          id="register-username-desc"
          class="pb-1 text-xs leading-none text-muted-fg"
        >
          Enter a verified email address associated with your account.
        </div>
      </div>
      <div class="flex justify-end">
        <button type="submit" class="button-primary" :disabled="!email.length">
          Send Recovery Email
        </button>
      </div>
    </form>
  </div>
</main>
{{ end }}
