{{ define "recover-username" }}
<main
  class="flex h-screen w-screen items-center justify-center"
  x-data="{ email: '' }"
>
  <div class="w-full max-w-lg rounded-md border p-6">
    <div id="recover-username-error"></div>
    <p class="pt-4">Username recovery:</p>
    <form
      class="space-y-4 px-4 pt-4"
      @submit.prevent=""
      hx-post="/recover/username"
      hx-target="#recover-username-error"
    >
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="recover-username-email"
        >
          Email Address
        </label>
        <input
          id="recover-username-email"
          x-model="email"
          class="flex h-10 w-full rounded-md border border-input bg-bg px-3 py-2 text-sm ring-offset-bg placeholder:text-muted-fg focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="email"
          value=""
          autofocus
        />
        <div
          id="register-username-desc"
          class="pb-1 text-xs leading-none text-muted-fg"
        >
          Enter a verified email address associated with your account.
        </div>
      </div>
      <footer class="flex justify-end">
        <button type="submit" class="button-primary" :disabled="!email.length">
          Send Recovery Email
        </button>
      </footer>
    </form>
  </div>
</main>
{{ end }}
