<li x-data="getLoginData()">
  <button
    class="cursor:pointer group inline-flex h-10 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-accent/50"
    @click="
      showModal = true;
      $nextTick(() => {
        setTimeout(() => {
          document.getElementById('login-username').focus();
        }, 50);
      });
    "
  >
    Log In
  </button>
  {{ template "web/views/partials/modal/overlay" }}
  <div
    class="z-3 fixed left-[50%] top-0 w-full max-w-lg translate-x-[-50%] border bg-background p-6 shadow-lg sm:rounded-lg md:top-[50%] md:translate-y-[-50%]"
    @click.away="showModal = false"
    x-cloak
    x-show="showModal"
  >
    <div id="login-error"></div>
    {{ template "web/views/partials/modal/close" }}
    <p class="pt-4">Please log in:</p>
    <form
      class="space-y-4 px-4 pt-4"
      @submit.prevent=""
      hx-post="/login"
      hx-swap="none"
    >
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-username"
        >
          Username
        </label>
        <input
          id="login-username"
          x-model="username"
          @input="
            username = sanitizeUsername(event.target.value);
          "
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="username"
          value=""
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-password"
        >
          Password
        </label>
        <input
          type="password"
          id="login-password"
          x-model="password"
          @input="
            password = event.target.value;
          "
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="password"
          value=""
        />
      </div>
      <a class="text-xs leading-none hover:underline" href="/recover"
        >Don't have your username or password? Click here.</a
      >
      <div class="flex justify-end">
        <button
          :disabled="!username.length || !password.length"
          class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          type="submit"
        >
          Log In
        </button>
      </div>
    </form>
  </div>
</li>
