<li x-data="getRegisterData()">
  <button
    class="cursor:pointer group inline-flex h-10 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-accent/50"
    @click="
      showModal = true;
      $nextTick(() => {
        setTimeout(() => {
          document.getElementById('register-username').focus();
        }, 50);
      });
    "
  >
    Create Account
  </button>
  {{ template "web/views/partials/modal/overlay" "showModal" }}
  <div
    class="z-3 fixed left-[50%] top-0 w-full max-w-lg translate-x-[-50%] border bg-background p-6 shadow-lg sm:rounded-lg md:top-[50%] md:translate-y-[-50%]"
    @click.away="showModal = false"
    x-cloak
    x-show="showModal"
  >
    {{ template "web/views/partials/modal/close" "showModal" }}
    <div id="register-error"></div>
    <p class="pt-4">Create an account:</p>
    <form
      class="space-y-4 px-4 pt-4"
      @submit.prevent="
        document.addEventListener('ptrcr:register-success', () => {
          window.location.reload();
        });
      "
      hx-post="/player/new"
    >
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="register-username"
        >
          Username
        </label>
        <input
          id="register-username"
          x-model="username"
          @focus="notifs.u = true"
          @input="
            eval.u.len = true;
            const reservedEl = document.getElementById('username-reserved');
            reservedEl.classList.add('htmx-request');
            usernameReserved = true;
            document.body.addEventListener('ptrcr:username-reserved', () => {
              const el = document.getElementById('player-reserved');
              usernameReserved = Boolean(el);
            }, { once: true });
            username = sanitizeUsername(event.target.value);
          "
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="username"
          aria-describedby="register-username-desc"
          hx-post="/player/reserved"
          hx-params="username"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#username-reserved"
          hx-indicator="#username-reserved"
        />
        <div>
          <!-- prettier-ignore -->
          {{ template "web/views/partials/username/requirements" }} 
          {{ template "web/views/partials/header/nav/register/username-reserved" }}
        </div>
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="register-password"
        >
          Password
        </label>
        <input
          type="password"
          id="register-password"
          x-model="password"
          @focus="notifs.pw = true"
          @input="
            setStrengths(strengths, event.target.value);
            setEvalStrengths(eval.pw.strengths, strengths);
            password = event.target.value;
          "
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="password"
          value=""
        />
        {{ template "web/views/partials/password/strengths" }}
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-password"
        >
          Confirm Password
        </label>
        <input
          type="password"
          id="register-confirm-password"
          :disabled="!isPasswordValid(password)"
          x-model="confirmPassword"
          @focus="notifs.cpw = true"
          @input="
            confirmPassword = event.target.value;
            if (confirmPassword.length === password.length) {
              eval.cpw.eq = true;
            }
          "
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="confirmPassword"
          value=""
        />
        {{ template "web/views/partials/password/confirm" }}
      </div>
      <div class="flex justify-end">
        <button
          id="register-button"
          :disabled="usernameReserved || !isUsernameValid(username) || !isPasswordValid(password) || password !== confirmPassword"
          class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          type="submit"
        >
          Create Account
        </button>
      </div>
    </form>
  </div>
</li>
