<li x-data="getRegisterData()">
  <button
    class="cursor:pointer group inline-flex h-10 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-accent/50"
    @click="
      showModal = true;
      $nextTick(() => {
        setTimeout(() => {
          document.getElementById('register-username').focus();
        }, 50);
      });
    "
  >
    Create Account
  </button>
  {{ template "web/views/partials/modal/overlay" }}
  <div
    class="z-3 fixed left-[50%] top-0 w-full max-w-lg translate-x-[-50%] border bg-background p-6 shadow-lg sm:rounded-lg md:top-[50%] md:translate-y-[-50%]"
    @click.away="showModal = false"
    x-cloak
    x-show="showModal"
  >
    <div
      class="pt-4"
      x-cloak
      x-show="errors.badRequest || errors.conflict || errors.internal || errors.disaster"
    >
      <p
        class="rounded-md bg-rose-100 px-4 py-3 text-sm text-rose-800"
        x-cloak
        x-show="errors.conflict"
      >
        Sorry! That username is already taken.
      </p>
      <div
        class="rounded-md bg-rose-100 px-4 py-3 text-sm text-rose-800"
        x-cloak
        x-show="errors.badRequest || errors.internal"
        @click="window.location.reload()"
      >
        Something's gone wrong. Please refresh the page and try again.
        <p
          class="cursor-pointer pt-1 text-sm leading-none text-rose-900 underline hover:text-rose-700"
        >
          Click here to refresh the page.
        </p>
      </div>
      <p
        class="rounded-md bg-rose-100 px-4 py-3 text-sm text-rose-800"
        x-cloak
        x-show="errors.disaster"
      >
        Something's gone terribly wrong. Either the application is unreachable
        or you aren't connected to the internet.
      </p>
    </div>
    {{ template "web/views/partials/modal/form-header" "Create an account:" }}
    <form
      class="space-y-4 px-4 pt-4"
      @submit.prevent="submitRegisterData(errors, username, password, confirmPassword)"
    >
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="register-username"
        >
          Username
        </label>
        <!-- TODO: Extract some of these to actual javascript functions -->
        <input
          id="register-username"
          x-model="username"
          @focus="notifs.u = true"
          @input="
            resetErrors(errors);
            username = sanitizeUsername(event.target.value);
            eval.u.len = true;
            const reservedEl = document.getElementById('username-reserved');
            reservedEl.classList.add('htmx-request');
            errors.reserved = true;
            document.addEventListener('username-reserved', () => {
              errors.reserved = Boolean(document.getElementById('player-reserved'));
            }, { once: 'true' });
          "
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="username"
          aria-describedby="register-username-desc"
          hx-post="/player/reserved"
          hx-params="username"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#username-reserved"
          hx-indicator="#username-reserved"
        />
        {{ template "web/views/partials/header/nav/register/username" }}
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="register-password"
        >
          Password
        </label>
        <input
          type="password"
          id="register-password"
          x-model="password"
          @focus="notifs.pw = true"
          @input="
            resetErrors(errors);
            setStrengths(strengths, event.target.value);
            setEvalStrengths(eval.pw.strengths, strengths);
            password = event.target.value;
          "
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="password"
          value=""
        />
        {{ template "web/views/partials/header/nav/register/password" }}
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-password"
        >
          Confirm Password
        </label>
        <input
          type="password"
          id="register-confirm-password"
          :disabled="!isPasswordValid(password)"
          x-model="confirmPassword"
          @focus="notifs.cpw = true"
          @input="
            resetErrors(errors);
            confirmPassword = event.target.value;
            if (confirmPassword.length === password.length) {
              eval.cpw.eq = true;
            }
          "
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="confirm-password"
          value=""
        />
        <div x-cloak x-show="notifs.pw">
          <p
            class="text-xs leading-none text-muted-foreground"
            :class="eval.cpw.eq ? 'text-rose-800' : 'text-muted-foreground'"
            x-cloak
            x-show="!eval.cpw.eq"
          >
            Passwords don't match.
          </p>
          <p
            class="text-xs leading-none text-emerald-800"
            x-cloak
            x-show="eval.cpw.eq && password === confirmPassword"
          >
            Passwords match!
          </p>
          <p
            class="text-xs leading-none text-rose-800"
            x-cloak
            x-show="eval.cpw.eq && password !== confirmPassword"
          >
            Passwords don't match.
          </p>
        </div>
      </div>
      <div class="flex justify-end">
        <button
          :disabled="
            const error = errors.reserved || errors.conflict || errors.internal || errors.disaster;
            const fields = !isUsernameValid(username) || !isPasswordValid(password) || password !== confirmPassword;
            return error || fields;
          "
          class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          type="submit"
        >
          Create Account
        </button>
      </div>
    </form>
  </div>
</li>
