{{ define "partial-edit-room-exits" }}
<section
  id="edit-room-exits"
  class="space-y-2 pt-4"
  x-data="{ 
    n: '{{ .North }}',
    ne: '{{ .Northeast }}',
    e: '{{ .East }}',
    se: '{{ .Southeast }}',
    s: '{{ .South }}',
    sw: '{{ .Southwest }}',
    w: '{{ .West }}',
    nw: '{{ .Northwest }}',
    show: {
      exit: {
        n: true,
        ne: false,
        e: false,
        se: false,
        s: false,
        sw: false,
        w: false,
        nw: false
      }
    }
  }"
>
  <label
    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
    >Exits</label
  >
  <section id="edit-room-exits-select" class="flex items-center gap-2">
    <!-- prettier-ignore -->
    {{ range .Exits }}
      {{ template "partial-edit-room-exits-select" . }}
    {{ end }}
  </section>
  <div>
    <!-- prettier-ignore -->
    {{ range .Exits }}
      {{ template "partial-edit-room-exits-edit" . }}
    {{ end }}
  </div>
</section>
<!-- prettier-ignore -->
{{ template "partial-room-grid" . }}
{{ end }}
