{{ define "partial-edit-room-exits" }}
<section
  id="edit-room-exits"
  class="space-y-2 pt-4"
  x-data="{ 
    n: '{{ .North }}',
    ne: '{{ .Northeast }}',
    e: '{{ .East }}',
    se: '{{ .Southeast }}',
    s: '{{ .South }}',
    sw: '{{ .Southwest }}',
    w: '{{ .West }}',
    nw: '{{ .Northwest }}',
    show: {
      exit: {
        n: true,
        ne: false,
        e: false,
        se: false,
        s: false,
        sw: false,
        w: false,
        nw: false
      }
    }
  }"
>
  <h4 class="text-sm font-medium leading-none">Exits</h4>
  <!-- prettier-ignore -->
  {{ template "partial-edit-room-exits-select" . }}
  <section id="edit-room-exits-edit" class="md:max-w-sm">
    <!-- prettier-ignore -->
    {{ range .Exits }}
      {{ template "partial-edit-room-exits-edit" . }}
    {{ end }}
  </section>
</section>
{{ end }}
