{{ define "partial-room-edit-size" }}
<form
  id="edit-room-size"
  class="space-y-2 py-4 md:w-[60%]"
  x-data="{ load: { size: '{{ .Size }}' }, size: '{{ .Size }}' }"
  hx-patch="{{ .SizePath }}"
  hx-swap="outerHTML"
>
  <!-- prettier-ignore -->
  {{ if .NoticeSection.Success }}
    {{ template "partial-notice-section-success" .NoticeSection }}
  {{ else if .NoticeSection.Error }}
    {{ template "partial-notice-section-error" .NoticeSection }}
  {{ end }}

  <label
    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
    >Size</label
  >
  {{ template "partial-form-radio-group" .SizeRadioGroup }}
  <footer class="flex justify-end">
    <button
      type="submit"
      class="button button-primary"
      :disabled="size === load.size"
    >
      Save
    </button>
  </footer>
</form>
{{ end }}
