<!doctype html>
<html lang="en">
  {{ template "head" . }}

  <body>
    <main class="flex flex-col items-center" x-data="getRequestData()">
      <section class="w-full max-w-lg rounded-md border">
        <div class="w-full px-6 pb-6">
          {{ template "views/partials/requests/content/header" . }}

          <!-- prettier-ignore -->
          {{ embed }}

          {{ template "views/partials/requests/footer" . }}

          {{ if and .StatusIsInReview .ViewedByReviewer -}}
            {{ template "views/partials/requests/comments/form" . }}
          {{ end -}}
        </div>
      </section>

      <!-- prettier-ignore -->
      {{ if and .StatusIsInReview .ViewedByReviewer -}}
        {{ template "views/partials/requests/comments/list" . }}
      {{ end -}}

      {{ if and .StatusIsReady .ViewedByPlayer -}}
        {{ template "views/partials/requests/dialogs/submit" .SubmitCharacterApplicationPath }}
      {{ end -}}

      {{ if and .StatusIsSubmitted .ViewedByReviewer -}}
        {{ template "views/partials/requests/dialogs/review" .ReviewDialog }}
      {{ end -}}

      {{ template "views/partials/requests/dialogs/cancel" .CharacterApplicationPath }}
    </main>

    {{ template "footer" . }}
  </body>
</html>
