<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="/htmx.min.js"></script>
    <script defer src="/alpine.min.js"></script>
  </head>

  <body x-data="{ 'showModal': false }">
    {{embed}}
    <div
      class="fixed h-full w-full inset-0 z-2 flex items-center justify-center overflow-auto bg-background/80 backdrop-blur-sm"
      x-show="showModal"
    >
      <div 
        class="max-w-3xl px-6 py-4 mx-auto text-left bg-white rounded shadow-lg"
        @click.away="showModal = false"> 
        Please Log In
      </div>
    </div>
  </body>
</html>
