<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ .MetaContent }}" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.min.css" />
    <script src="/iconify-icon.min.js"></script>
    <script defer src="/main.min.js" type="module"></script>
    <script src="/htmx.min.js"></script>
    <script defer src="/alpine.min.js"></script>
  </head>

  <body>
    {{embed}}
  </body>
</html>
