<!doctype html>
<html lang="en">
  {{ template "head" . }}

  <body>
    <main
      class="flex h-screen w-full flex-col items-center justify-center"
      x-data="getRequestData()"
    >
      <section class="w-full max-w-lg rounded-md border p-6">
        {{ template "views/partials/requests/content/header" . }}

        <!-- prettier-ignore -->
        {{ embed }}

        {{ template "views/partials/requests/footer" . }}

        {{ if and .StatusIsInReview .ViewedByReviewer -}}
          {{ template "views/partials/requests/comments/form" . }}
        {{ end -}}
      </section>
    </main>
  </body>
</html>
