<!doctype html>
<html lang="en">
  {{ template "head" . }}

  <body>
    <main class="flex flex-col items-center" x-data="getRequestData()">
      <!-- prettier-ignore -->
      {{ template "views/partials/requests/header" . }}

      {{ template "views/partials/requests/nav/list" .CharacterApplicationNav }}
      <section class="w-full max-w-lg rounded-md border">
        {{ template "views/partials/requests/actions" . }}

        <div class="w-full px-6 pb-6">
          {{ template "views/partials/requests/content/header" . }}

          <!-- prettier-ignore -->
          {{ embed }}

          {{ template "views/partials/requests/footer" . }}

          {{ if and .StatusIsInReview .ViewedByReviewer -}}
            {{ template "views/partials/requests/comments/form" . }}
          {{ end -}}
        </div>
      </section>

      <!-- prettier-ignore -->
      {{ if .ViewedByPlayer }}
        {{ if .StatusIsReady }}
          {{ template "views/partials/requests/dialogs/submit" .SubmitCharacterApplicationPath }}
        {{ end }}

        {{ template "views/partials/requests/dialogs/cancel" .CharacterApplicationPath }}
      {{ end }}

      {{ if and .StatusIsSubmitted .ViewedByReviewer -}}
        {{ template "views/partials/requests/dialogs/review" .ReviewDialog }}
      {{ end -}}
    </main>

    {{ template "footer" . }}
  </body>
</html>
