{{ define "requests-summary-field" }}

<article
  x-data="{ helpOpen: false }"
  class="request-summary-field flex flex-col gap-2 border-b pb-3"
>
  <h3
    class="text-sm font-semibold leading-none tracking-tight text-muted-foreground"
  >
    {{ .Label }}
  </h3>

  <p
    :class="{ 'opacity-50' : helpOpen }"
    class="text-wrap text-base leading-none"
  >
    {{ .Content }}
  </p>

  <div x-cloak x-show="helpOpen" class="pt-2">
    {{ template "views/partials/requests/content/summary/help" .Label }}
  </div>

  <!-- prettier-ignore -->
  {{ if .ViewedByPlayer }}
  <footer class="flex items-center justify-end gap-2 pr-3">
    <div
      @click.prevent="helpOpen = !helpOpen;"
      class="flex cursor-pointer items-center text-xs leading-none text-muted-foreground hover:text-primary hover:underline"
    >
      <iconify-icon
        icon="fa6-solid:question"
        height="10"
        width="10"
      ></iconify-icon>

      Help
    </div>
    <a
      href="{{ .Path }}"
      class="flex cursor-pointer items-end text-xs leading-none text-muted-foreground hover:text-primary hover:underline"
    >
      <iconify-icon icon="fe:pencil" height="12" width="12"></iconify-icon>

      Edit
    </a>
  </footer>
  {{ end }}
</article>

{{ end }}
