{{ define "view-request-field" }}
<main
  class="flex h-screen w-full flex-col items-center justify-center"
  x-data="getRequestData()"
>
  <!-- TODO: Split the Change Request part here out into its own component -->
  <article class="w-full max-w-lg rounded-md border p-6">
    <!-- prettier-ignore -->
    {{ template "partial-request-field-header" . }}

    {{ .Help }}

    {{ template "partial-request-divider" . }}

    {{ if .ChangeRequestConfig.Open }}
      {{ template "partial-request-change-request" .ChangeRequestConfig.Open }}
    {{ else if .ChangeRequestConfig.Change }}
      {{ template "partial-request-change-request" .ChangeRequestConfig.Change }}
    {{ else }}
      {{ template "partial-request-change-request-empty" }}
    {{ end }}

    {{ if .Form }}
      {{ .Form }}
    {{ else if .Data }}
      {{ .Data }}
    {{ end }}

    {{ template "partial-request-field-footer" . }}
  </article>
</main>
{{ end }}
