<div
  class="flex items-center gap-6 border-b px-4 py-3"
  x-data="{ {{ .ReviewDialog.Variable }}: false }"
>
  <div class="flex flex-col items-center justify-center px-6">
    <!-- prettier-ignore -->
    {{ template "views/partials/character/application/reviewer/summary/status/icon" . }}
  </div>
  <div>
    <h2 class="text-base font-semibold leading-none tracking-tight">
      {{ .Name }}
    </h2>

    <!-- prettier-ignore -->
    {{ template "views/partials/character/application/reviewer/summary/status/text" . }}
  </div>
  <div>
    <p class="text-sm leading-none text-muted-foreground">
      <span class="font-semibold">Author:</span> {{ .Author }}
    </p>
    <!-- prettier-ignore -->
    {{ if .StatusInReview -}}
    <p class="text-sm leading-none text-muted-foreground">
      <span class="font-semibold">Being reviewed by:</span> {{ .Reviewer }}
    </p>
    {{ else if .Reviewer }}
    <p class="text-sm leading-none text-muted-foreground">
      <span class="font-semibold">Last reviewed by:</span> {{ .Reviewer }}
    </p>
    {{ else -}}
    <p class="text-sm font-semibold leading-none text-muted-foreground">
      Never reviewed
    </p>
    {{ end -}}
  </div>
  <div class="ml-auto flex items-center justify-center gap-2">
    <a
      href="{{ .Link }}"
      class="inline-flex h-10 items-center justify-center rounded-md border border-primary px-4 py-2 text-sm font-medium text-primary ring-offset-background transition-colors hover:bg-primary/10 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
    >
      View
    </a>
    {{ if .StatusSubmitted -}}
    <button
      @click.prevent="{{ .ReviewDialog.Variable }} = true"
      class="htmx-trade-indicator-out inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      type="button"
    >
      Put In Review
    </button>
    {{ end -}}
  </div>
  <!-- prettier-ignore -->
  {{ template "views/partials/character/application/reviewer/review-dialog" .ReviewDialog }}
</div>
