<main class="flex flex-col items-center justify-center">
  <div class="w-full text-foreground md:w-[750px] md:px-4 lg:w-[1000px]">
    <header class="px-6 py-2">
      <h2
        class="scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl"
      >
        Player Permissions ({{ .Username }})
      </h2>
      <p class="leading-7 text-muted-foreground">
        Adjust permissions for individual players here
      </p>
    </header>
    <section class="border-t" id="permissions">
      <form id="permissions-detail-form" @submit.prevent="">
        <!-- prettier-ignore -->
        {{ range .Permissions -}}
        {{ template "views/partials/player_permissions/detail" . }}
        {{ end -}}
      </form>
    </section>
  </div>
</main>
