{{ template "web/views/partials/header" . }}

<main class="flex flex-col justify-center items-center">
  <div class="
    w-full 
    md:w-[750px] 
    lg:w-[1000px] 
    rounded-lg 
    border 
    bg-card 
    text-card-foreground 
    shadow-sm
  ">
    <div>{{.ID}}</div>
    <div>{{.Status}}</div>
    <div>{{.Name}}</div>
    <div>{{.Backstory}}</div>
    <div>{{.ShortDescription}}</div>
    <div>{{.Description}}</div>
    <div>{{.Origin}}</div>
    <div>{{.Class}}</div>
    <div>{{.Gender}}</div>
  </div>
</main>

{{ template "web/views/partials/footer" . }}
