{{ define "requests-character-application-sdesc-form" }}

<form
  id="{{ .RequestFormID }}"
  class="space-y-2 px-4 pt-4"
  hx-patch="{{ .RequestFormPath }}"
  hx-swap="none"
  x-data="getCharacterApplicationShortDescriptionData('{{ .FieldValue }}')"
>
  <input
    id="character-application-flow-sdesc"
    x-model="sdesc"
    @input="
      eval.sdesc.len = true;
      sdesc = sanitizeCharacterShortDescription(event.target.value);
    "
    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
    placeholder=""
    name="{{ .Field }}"
    value="{{ .FieldValue }}"
    autofocus
  />
  <section>
    <!-- prettier-ignore -->
    {{ template "views/partials/requests/content/character/application/sdesc/requirements" }}
  </section>
  <section
    x-show="isCharacterShortDescriptionValid(sdesc)"
    class="text-sm leading-none"
  >
    Your short description will be displayed in-game as:
    <br />
    The <span x-text="sdesc"></span>
  </section>
</form>

{{ end }}
