{{ define "partial-request-summary-actions" }}
<section class="flex items-center gap-2 pt-4">
  <!-- prettier-ignore -->
  {{ if .ShowCancelAction }}
  <button
    type="button"
    class="button-outline button-outline-destructive"
    @click.prevent="showCancelDialog = true;"
  >
    Cancel
  </button>
  {{ end }}

  <!-- prettier-ignore -->
  {{ if .ShowSubmitAction }}
  <button
    type="button"
    class="button-primary"
    @click.prevent="showSubmitDialog = true;"
  >
    Submit
  </button>
  {{ end }}

  <!-- prettier-ignore -->
  {{ if .ShowApproveAction }}
  <button
    type="button"
    class="button-primary"
    @click.prevent="showApproveDialog = true;"
  >
    Approve
  </button>
  {{ else if .ShowFinishReviewAction }}
  <button
    type="button"
    class="button-primary"
    @click.prevent="showFinishReviewDialog = true;"
  >
    Finish Review
  </button>
  {{ end }}
</section>
{{ end }}
