{{ define "partial-character-application-summary-field-help" }}
<!-- prettier-ignore -->
{{ if eq . "Name" }}
  {{ template "partial-request-character-application-name-help" }}
{{ else if eq . "Gender" }}
  {{ template "partial-request-character-application-gender-help" }}
{{ else if eq . "Short Description" }}
  {{ template "partial-request-character-application-sdesc-help" }}
{{ else if eq . "Description" }}
  {{ template "partial-request-character-application-desc-help" }}
{{ else if eq . "Backstory" }}
  {{ template "partial-request-character-application-backstory-help" }}
{{ end }}
{{ end }}
