{{ define "layout-request-field" }}
<!doctype html>
<html lang="en">
  {{ template "partial-head" . }}
  <body class="dark">
    <!-- prettier-ignore -->
    {{ if not .StatusIsIncomplete }}
      {{ template "partial-header" . }}
    {{ end }}
    <main
      x-data="getRequestData()"
      class="flex h-screen w-full flex-col items-center pt-10"
    >
      <section class="w-full max-w-lg rounded-md border p-6">
        <!-- prettier-ignore -->
        {{ template "partial-request-field-header" . }}
        {{ embed }}
        {{ template "partial-request-field-footer" . }}
      </section>
    </main>
  </body>
</html>
{{ end }}
