{{ define "layout-request-field-standalone" }}
<!doctype html>
<html lang="en">
  {{ template "partial-head" . }}
  <body class="{{ .Theme }}">
    <main
      x-data="getRequestData()"
      class="flex h-screen w-full flex-col items-center justify-center"
    >
      <section class="w-full max-w-lg rounded-md border p-6">
        <!-- prettier-ignore -->
        {{ template "partial-request-field-header" . }}
        {{ embed }}
        {{ template "partial-request-field-footer" . }}
      </section>
      {{ template "partial-request-comment-list" . }}
    </main>
  </body>
</html>
{{ end }}
