{{ define "layout-request-summary" }}
<!doctype html>
<html lang="en">
  {{ template "partial-head" . }}
  <body class="{{ .Theme }}">
    {{ template "partial-header" . }}
    <main
      class="flex h-screen w-full flex-col items-center"
      x-data="getRequestData()"
    >
      <section class="w-full max-w-lg">
        <!-- prettier-ignore -->
        {{ template "partial-request-summary-header" . }}
        {{ embed }}
        {{ template "partial-request-summary-actions" . }}
      </section>
      {{ template "partial-request-dialogs" . }}
    </main>
  </body>
</html>
{{ end }}
