<!-- prettier-ignore -->
{{ define "partial-edit-room-exits-dialog-create" }}
{{ template "partial-modal-overlay" "showCreateDialog" }}
<div
  class="modal"
  @click.away="showCreateDialog = false;"
  x-cloak
  x-show="showCreateDialog"
>
  {{ template "partial-modal-close" "showCreateDialog" }}
  <section id="edit-room-exits-create-error"></section>
  <h3 class="pt-4 text-lg font-semibold leading-none tracking-tight">
    Are you sure?
  </h3>
  <p class="pt-2 text-base leading-none">
    This will create a new room and link to it at this exit.
  </p>
  <form
    class="space-y-2 pt-4"
    hx-post="{{ .RoomsPath }}"
    hx-target="#{{ .EditElementID }}"
    hx-swap="outerHTML"
    @submit.prevent="showCreateDialog = false;"
  >
    <input name="id" value="{{ .RoomID }}" class="sr-only" />
    <input name="direction" value="{{ .Exit }}" class="sr-only" />

    <footer class="flex items-center gap-2 pt-4">
      <label
        class="relative mr-auto inline-flex cursor-pointer items-center gap-2"
      >
        <input
          name="two-way"
          type="checkbox"
          checked="true"
          value="true"
          id="edit-room-exits-create-two-way"
          class="peer sr-only"
        />
        {{ template "partial-form-switch" }}
        <p class="text-sm font-semibold leading-none">
          This is a two-way connection
        </p>
      </label>
      <button type="submit" class="button-primary ml-auto">Create</button>
    </footer>
  </form>
</div>
{{ end }}
