<li x-data="{ 'showModal': false }">
  <button
    class="group inline-flex h-10 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-accent/50 cursor:pointer"
    @click="
      showModal = true;
      $focus.focus(document.getElementById('login-username'));
    "
  >
    Log In 
  </button>
  <div
    class="fixed h-full w-full inset-0 z-2 flex items-center justify-center overflow-auto bg-background/80 backdrop-blur-sm"
    x-cloak
    x-show="showModal"
  >
  </div>
  <div
    class="fixed left-[50%] top-[50%] z-3 w-full max-w-lg translate-x-[-50%] translate-y-[-50%] border bg-background p-6 shadow-lg sm:rounded-lg"
    @click.away="showModal = false"
    x-cloak
    x-show="showModal"
  >
    <button
      @click="showModal = false"
      class="absolute right-4 top-4 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
        <path d="M18 6 6 18"></path><path d="m6 6 12 12"></path>
      </svg>
      <span class="sr-only">Close</span>
    </button>
    <p class="space-y-1.5">Please log in:</p>
    <form class="space-y-4 px-4">
      <div class="space-y-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="login-username">
          Username
        </label>
        <input id="login-username" class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" placeholder="" name="username" aria-describedby=":r0rg:-form-item-description" aria-invalid="false" value="">
      </div>
      <div class="space-y-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="login-password">
          Password
        </label>
        <input type="password" id="login-password" class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" placeholder="" name="password" aria-describedby=":r0rh:-form-item-description" aria-invalid="false" value="">
      </div>
      <div class="flex justify-end">
        <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</li>
