<li x-data="{ 'showModal': false }">
  <button
    class="cursor:pointer group inline-flex h-10 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-accent/50"
    @click="
      showModal = true;
      $nextTick(() => {
        setTimeout(() => {
          document.getElementById('register-username').focus();
        }, 50);
      });
    "
  >
    Create Account
  </button>
  <div
    class="z-2 fixed inset-0 flex h-full w-full items-center justify-center overflow-auto bg-background/80 backdrop-blur-sm"
    x-cloak
    x-show="showModal"
  ></div>
  <div
    class="z-3 fixed left-[50%] top-[50%] w-full max-w-lg translate-x-[-50%] translate-y-[-50%] border bg-background p-6 shadow-lg sm:rounded-lg"
    @click.away="showModal = false"
    x-cloak
    x-show="showModal"
  >
    <button
      @click="showModal = false"
      class="absolute right-4 top-4 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-4 w-4"
      >
        <path d="M18 6 6 18"></path>
        <path d="m6 6 12 12"></path>
      </svg>
      <span class="sr-only">Close</span>
    </button>
    <p class="space-y-1.5">Create an account:</p>
    <form
      class="space-y-4 px-4"
      x-data="{
        'username': '',
        'password': '',
        'confirmPassword': '',
        pwLen: false,
        pwEvalLen: false,
        pwMixedCase: false,
        pwEvalMixedCase: false,
        pwNum: false,
        pwEvalNum: false,
        pwSpecialChar: false,
        pwEvalSpecialChar: false,
      }"
    >
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="register-username"
        >
          Username
        </label>
        <input
          id="register-username"
          :value="username"
          @input="username = sanitizeUsername(event.target.value)"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="username"
          aria-describedby="register-username-desc"
          aria-invalid="false"
        />
        <p
          id="register-username-desc"
          class="text-xs leading-none text-muted-foreground peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >
          Your username. Must be lowercase alphanumeric, dash or underscore.
        </p>
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="register-password"
        >
          Password
        </label>
        <input
          type="password"
          id="register-password"
          @input="
            const strengths = getPasswordStrengths(event.target.value);
            pwLen = strengths.len;
            pwEvalLen = strengths.len ? true : pwEvalLen;
            pwMixedCase = strengths.mixedCase;
            pwEvalMixedCase = strengths.mixedCase ? true : pwEvalMixedCase;
            pwSpecialChar = strengths.specialChar;
            pwEvalSpecialChar = strengths.specialChar ? true : pwEvalSpecialChar;
            pwNum = strengths.num;
            pwEvalNum = strengths.num ? true : pwEvalNum;
          "
          :value="password"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="password"
          aria-describedby=":r0rh:-form-item-description"
          aria-invalid="false"
          value=""
        />
        <div
          class="flex items-center gap-2 text-xs text-muted-foreground"
          x-cloak
          x-show="!pwEvalLen"
        >
          <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
          <div>Length</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-rose-800"
          x-cloak
          x-show="pwEvalLen && !pwLen"
        >
          <iconify-icon icon="fe:close" width="14" height="14"></iconify-icon>
          <div>Too short</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-emerald-800"
          x-cloak
          x-show="pwEvalLen && pwLen"
        >
          <iconify-icon icon="fe:check" width="14" height="14"></iconify-icon>
          <div>Strong length</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-muted-foreground"
          x-cloak
          x-show="!pwEvalMixedCase"
        >
          <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
          <div>Mixed case</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-rose-800"
          x-cloak
          x-show="pwEvalMixedCase && !pwMixedCase"
        >
          <iconify-icon icon="fe:close" width="14" height="14"></iconify-icon>
          <div>Is not mixed case</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-emerald-800"
          x-cloak
          x-show="pwEvalMixedCase && pwMixedCase"
        >
          <iconify-icon icon="fe:check" width="14" height="14"></iconify-icon>
          <div>Is mixed case</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-muted-foreground"
          x-cloak
          x-show="!pwEvalNum"
        >
          <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
          <div>Number</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-rose-800"
          x-cloak
          x-show="pwEvalNum && !pwNum"
        >
          <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
          <div>Does not have a number</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-emerald-800"
          x-cloak
          x-show="pwEvalNum && pwNum"
        >
          <iconify-icon icon="fe:check" width="14" height="14"></iconify-icon>
          <div>Has a number</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-muted-foreground"
          x-cloak
          x-show="!pwEvalSpecialChar"
        >
          <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
          <div>Special Character</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-rose-800"
          x-cloak
          x-show="pwEvalSpecialChar && !pwSpecialChar"
        >
          <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
          <div>Does not have a special character</div>
        </div>
        <div
          class="flex items-center gap-2 text-xs text-emerald-800"
          x-cloak
          x-show="pwEvalSpecialChar && pwSpecialChar"
        >
          <iconify-icon icon="fe:check" width="14" height="14"></iconify-icon>
          <div>Has a special character</div>
        </div>
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-password"
        >
          Confirm Password
        </label>
        <input
          type="password"
          id="register-confirm-password"
          x-model="confirmPassword"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="password"
          aria-describedby=":r0rh:-form-item-description"
          aria-invalid="false"
          value=""
        />
      </div>
      <div class="flex justify-end">
        <button
          :disabled="!isUsernameValid(username) || !isPasswordValid(password) || password !== confirmPassword"
          class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</li>
