<li x-data="{ 'showModal': false }">
  <button
    class="cursor:pointer group inline-flex h-10 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-accent/50"
    @click="
      showModal = true;
      $nextTick(() => {
        setTimeout(() => {
          document.getElementById('login-username').focus();
        }, 50);
      });
    "
  >
    Log In
  </button>
  <div
    class="z-2 fixed inset-0 flex h-full w-full items-center justify-center overflow-auto bg-background/80 backdrop-blur-sm"
    x-cloak
    x-show="showModal"
  ></div>
  <div
    class="z-3 fixed left-[50%] top-[50%] w-full max-w-lg translate-x-[-50%] translate-y-[-50%] border bg-background p-6 shadow-lg sm:rounded-lg"
    @click.away="showModal = false"
    x-cloak
    x-show="showModal"
  >
    {{ template "web/views/partials/modal-form-header" "Please log in:"}}
    <form
      x-data="getLoginData()"
      @submit.prevent="submitLoginData(errors, username, password)"
      class="space-y-4 px-4"
    >
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-username"
        >
          Username
        </label>
        <input
          id="login-username"
          x-model="username"
          @input="username = sanitizeUsername(event.target.value)"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="username"
          value=""
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-password"
        >
          Password
        </label>
        <input
          type="password"
          id="login-password"
          x-model="password"
          @input="password = event.target.value"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="password"
          value=""
        />
      </div>
      <div class="flex justify-end">
        <button
          class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</li>
