<div x-cloak x-show="notifs.pw">
  <div
    class="flex items-center gap-1 text-xs text-muted-foreground"
    x-cloak
    x-show="!eval.pw.strengths.len"
  >
    <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
    <div>Should be at least 8 characters long.</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-rose-800"
    x-cloak
    x-show="eval.pw.strengths.len && !strengths.len"
  >
    <iconify-icon icon="fe:close" width="14" height="14"></iconify-icon>
    <div>Should be at least 8 characters long.</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-emerald-800"
    x-cloak
    x-show="eval.pw.strengths.len && strengths.len"
  >
    <iconify-icon icon="fe:check" width="14" height="14"></iconify-icon>
    <div>Long passwords are strong passwords!</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-muted-foreground"
    x-cloak
    x-show="!eval.pw.strengths.mixedCase"
  >
    <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
    <div>Should include at least one lower and one upper case letter.</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-rose-800"
    x-cloak
    x-show="eval.pw.strengths.mixedCase && !strengths.mixedCase"
  >
    <iconify-icon icon="fe:close" width="14" height="14"></iconify-icon>
    <div>Should include at least one lower and one upper case letter.</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-emerald-800"
    x-cloak
    x-show="eval.pw.strengths.mixedCase && strengths.mixedCase"
  >
    <iconify-icon icon="fe:check" width="14" height="14"></iconify-icon>
    <div>Includes at least one lower case one upper case letter.</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-muted-foreground"
    x-cloak
    x-show="!eval.pw.strengths.num"
  >
    <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
    <div>Should include at least one number.</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-rose-800"
    x-cloak
    x-show="eval.pw.strengths.num && !strengths.num"
  >
    <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
    <div>Should include at least one number.</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-emerald-800"
    x-cloak
    x-show="eval.pw.strengths.num && strengths.num"
  >
    <iconify-icon icon="fe:check" width="14" height="14"></iconify-icon>
    <div>Has at least one number.</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-muted-foreground"
    x-cloak
    x-show="!eval.pw.strengths.specialChar"
  >
    <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
    <div>Should include at least one special character.</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-rose-800"
    x-cloak
    x-show="eval.pw.strengths.specialChar && !strengths.specialChar"
  >
    <iconify-icon icon="fe:close" height="14" width="14"></iconify-icon>
    <div>Should include at least one special character.</div>
  </div>
  <div
    class="flex items-center gap-1 text-xs text-emerald-800"
    x-cloak
    x-show="eval.pw.strengths.specialChar && strengths.specialChar"
  >
    <iconify-icon icon="fe:check" width="14" height="14"></iconify-icon>
    <div>Has a special character.</div>
  </div>
</div>
