<!-- TODO: Rename this template -->
<div class="mb-4 flex w-full max-w-lg justify-between border-b">
  <h2 class="scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl">
    {{ .Name }}
  </h2>
  <div
    @click.prevent="partsOpen = !partsOpen;"
    :class="{ 'open': partsOpen }"
    class="hard-dropdown flex h-full cursor-pointer items-center justify-center pr-4"
  >
    <iconify-icon
      class="icon"
      icon="tabler:chevron-down"
      height="24"
      width="24"
    ></iconify-icon>
  </div>
</div>
