{{ define "view-room-edit" }}
<main class="flex flex-col items-center justify-center">
  <div class="w-full text-fg md:w-[750px] md:px-4 lg:w-[1000px]">
    {{ template "partial-page-header" .PageHeader }}

    <section id="edit-room-error"></section>

    <!-- prettier-ignore -->
    {{ template "partial-room-edit-title" . }}
    <form
      id="edit-room-description"
      class="space-y-2 py-4 md:w-[60%]"
      x-data="{ load: { description: '{{ .Description }}' }, description: '{{ .Description }}' }"
    >
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="description"
      >
        Room Description
      </label>
      <textarea
        name="description"
        x-model="description"
        class="input min-h-[10rem]"
      ></textarea>
      <footer class="flex justify-end">
        <button
          type="submit"
          class="button-primary"
          :disabled="description === load.description"
        >
          Save
        </button>
      </footer>
    </form>
    <form
      id="edit-room-size"
      class="space-y-2 py-4 md:w-[60%]"
      x-data="{ load: { size: '{{ .Size }}' }, size: '{{ .Size }}' }"
    >
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >Size</label
      >
      {{ template "partial-form-radio-group" .SizeRadioGroup }}
      <footer class="flex justify-end">
        <button
          type="submit"
          class="button-primary"
          :disabled="size === load.size"
        >
          Save
        </button>
      </footer>
    </form>
    <!-- prettier-ignore -->
    {{ template "partial-edit-room-exits" . }}
    {{ template "partial-room-grid" . }}
  </div>
</main>
{{ end }}
