{{ define "view-room-edit" }}
<main class="flex flex-col items-center justify-center">
  <div class="w-full text-fg md:w-[750px] md:px-4 lg:w-[1000px]">
    {{ template "partial-page-header" .PageHeader }}

    <section id="edit-room-error"></section>

    <!-- prettier-ignore -->
    {{ template "partial-room-edit-title" . }}
    {{ template "partial-room-edit-description" . }}
    {{ template "partial-room-edit-size" . }}

    <!-- prettier-ignore -->
    {{ template "partial-edit-room-exits" . }}
    {{ template "partial-room-grid" . }}
  </div>
</main>
{{ end }}
