{{ define "view-room" }}
<main class="flex flex-col items-center justify-center">
  <div class="w-full text-fg md:w-[750px] md:px-4 lg:w-[1000px]">
    {{ template "partial-page-header" .PageHeader }}

    <section id="room-title" class="space-y-2 pt-6">
      <header>
        <h4 class="header-4">Title</h4>
      </header>
      <p class="text-base leading-none">{{ .Title }}</p>
    </section>
    <section id="room-size" class="space-y-2 pt-6">
      <header>
        <h4 class="header-4">Size</h4>
      </header>
      <p class="text-base leading-none">{{ .Size }}</p>
    </section>
    <section id="room-description" class="space-y-2 pt-6">
      <header>
        <h4 class="header-4">Description</h4>
      </header>
      <p class="text-wrap pr-16 text-base leading-none">{{ .Description }}</p>
    </section>
  </div>
</main>
{{ end }}
