{{ define "partial-edit-room-exits-edit-empty" }}
<div
  class="flex items-center gap-2 py-6"
  x-data="{ showLinkDialog: false, showCreateDialog: false }"
>
  <!-- prettier-ignore -->
  {{ template "partial-edit-room-exits-dialog-link" . }}
  {{ template "partial-edit-room-exits-dialog-create" . }}
  <button type="button" class="button-outline" @click="showLinkDialog = true;">
    Link
  </button>
  <button
    type="button"
    class="button-primary"
    @click="showCreateDialog = true;"
  >
    Create
  </button>
</div>
{{ end }}
