{{ define "partial-edit-room-exits-edit-existing" }}
<div class="py-6">
  <div class="rounded-md bg-muted p-4">
    <header>
      <h3 class="text-large font-semibold leading-none">
        [{{ .ID }}] {{ .Title }}
      </h3>
    </header>
    <p
      class="overflow-hidden text-ellipsis whitespace-nowrap text-sm text-muted-fg"
    >
      {{ .Description }}
    </p>
    <p class="pt-2 text-sm leading-none">
      This is a
      <span class="font-semibold">
        {{ if .TwoWay }} two-way {{ else }} one-way {{ end }}
      </span>
      connection.
    </p>
  </div>

  <footer
    class="flex items-center justify-end gap-2 pt-6"
    x-data="{ showClearDialog: false }"
  >
    {{ template "partial-edit-room-exits-dialog-clear" . }}
    <button
      type="button"
      class="button-outline button-outline-destructive"
      @click="showClearDialog = true;"
    >
      Clear
    </button>
    <a href="{{ .ExitEditPath }}" class="button-outline">Edit</a>
    <a href="{{ .ExitPath }}" class="button-outline">View</a>
  </footer>
</div>
{{ end }}
