{{ define "view-room-image-new" }}
<main class="flex flex-col items-center justify-center">
  <div class="w-full text-fg md:w-[750px] md:px-4 lg:w-[1000px]">
    {{ template "partial-page-header" .PageHeader }}
    <form
      class="w-[60%] pl-8"
      x-data="{ name: '', title: '', description: '', size: '2' }"
      hx-post="{{ .RoomImagesPath }}"
    >
      <section id="room-image-name" class="space-y-2 py-4">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="name"
        >
          Image Name
        </label>
        <input name="name" class="input" />
      </section>
      <section id="room-image-title" class="space-y-2 py-4">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="title"
        >
          Room Title
        </label>
        <input name="title" class="input" />
      </section>
      <section id="room-image-description" class="space-y-2 py-4">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="description"
        >
          Room Description
        </label>
        <textarea name="description" class="input min-h-[10rem]"></textarea>
      </section>
      <section id="room-image-size" class="space-y-2 py-4">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          >Size</label
        >
        <section
          :class="{
            'cursor-pointer': size !== '{{ .SizeTiny }}',
            'border-primary': size === '{{ .SizeTiny }}',
          }"
          class="flex items-center gap-3 rounded-md border px-8 py-4 hover:border-primary"
          @click="size = '{{ .SizeTiny }}'"
        >
          {{ if .SizeIsTiny }}
          <input
            x-model="size"
            id="new-room-image-size-tiny"
            :class="{ 'cursor-pointer': size !== '{{ .SizeTiny }}' }"
            class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            type="radio"
            name="value"
            value="{{ .SizeTiny }}"
            checked
          />
          {{ else -}}
          <input
            x-model="size"
            id="new-room-image-size-tiny"
            :class="{ 'cursor-pointer': size !== '{{ .SizeTiny }}' }"
            class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            type="radio"
            name="value"
            value="{{ .SizeTiny }}"
          />
          {{ end -}}
          <label
            :class="{ 'cursor-pointer': size !== '{{ .SizeTiny }}' }"
            class="flex items-center justify-center text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="new-room-image-size-tiny"
          >
            Tiny
          </label>
        </section>
        <section
          :class="{
            'cursor-pointer': size !== '{{ .SizeSmall }}',
            'border-primary': size === '{{ .SizeSmall }}',
          }"
          class="flex items-center gap-3 rounded-md border px-8 py-4 hover:border-primary"
          @click="size = '{{ .SizeSmall }}'"
        >
          {{ if .SizeIsSmall }}
          <input
            x-model="size"
            id="new-room-image-size-small"
            :class="{ 'cursor-pointer': size !== '{{ .SizeSmall }}' }"
            class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            type="radio"
            name="value"
            value="{{ .SizeSmall }}"
            checked
          />
          {{ else -}}
          <input
            x-model="size"
            id="new-room-image-size-small"
            :class="{ 'cursor-pointer': size !== '{{ .SizeSmall }}' }"
            class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            type="radio"
            name="value"
            value="{{ .SizeSmall }}"
          />
          {{ end -}}
          <label
            :class="{ 'cursor-pointer': size !== '{{ .SizeSmall }}' }"
            class="flex items-center justify-center text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="new-room-image-size-small"
          >
            Small
          </label>
        </section>
        <section
          :class="{
            'cursor-pointer': size !== '{{ .SizeMedium }}',
            'border-primary': size === '{{ .SizeMedium }}',
          }"
          class="flex items-center gap-3 rounded-md border px-8 py-4 hover:border-primary"
          @click="size = '{{ .SizeMedium }}'"
        >
          {{ if .SizeIsMedium }}
          <input
            x-model="size"
            id="new-room-image-size-medium"
            :class="{ 'cursor-pointer': size !== '{{ .SizeMedium }}' }"
            class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            type="radio"
            name="value"
            value="{{ .SizeMedium }}"
            checked
          />
          {{ else -}}
          <input
            x-model="size"
            id="new-room-image-size-medium"
            :class="{ 'cursor-pointer': size !== '{{ .SizeMedium }}' }"
            class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            type="radio"
            name="value"
            value="{{ .SizeMedium }}"
          />
          {{ end -}}
          <label
            :class="{ 'cursor-pointer': size !== '{{ .SizeMedium }}' }"
            class="flex items-center justify-center text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="new-room-image-size-medium"
          >
            Medium
          </label>
        </section>
        <section
          :class="{
            'cursor-pointer': size !== '{{ .SizeLarge }}',
            'border-primary': size === '{{ .SizeLarge }}',
          }"
          class="flex items-center gap-3 rounded-md border px-8 py-4 hover:border-primary"
          @click="size = '{{ .SizeLarge }}'"
        >
          {{ if .SizeIsLarge }}
          <input
            x-model="size"
            id="new-room-image-size-large"
            :class="{ 'cursor-pointer': size !== '{{ .SizeLarge }}' }"
            class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            type="radio"
            name="value"
            value="{{ .SizeLarge }}"
            checked
          />
          {{ else -}}
          <input
            x-model="size"
            id="new-room-image-size-large"
            :class="{ 'cursor-pointer': size !== '{{ .SizeLarge }}' }"
            class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            type="radio"
            name="value"
            value="{{ .SizeLarge }}"
          />
          {{ end -}}
          <label
            :class="{ 'cursor-pointer': size !== '{{ .SizeLarge }}' }"
            class="flex items-center justify-center text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="new-room-image-size-large"
          >
            Large
          </label>
        </section>
        <section
          :class="{
            'cursor-pointer': size !== '{{ .SizeHuge }}',
            'border-primary': size === '{{ .SizeHuge }}',
          }"
          class="flex items-center gap-3 rounded-md border px-8 py-4 hover:border-primary"
          @click="size = '{{ .SizeHuge }}'"
        >
          {{ if .SizeIsHuge }}
          <input
            x-model="size"
            id="new-room-image-size-huge"
            :class="{ 'cursor-pointer': size !== '{{ .SizeHuge }}' }"
            class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            type="radio"
            name="value"
            value="{{ .SizeHuge }}"
            checked
          />
          {{ else -}}
          <input
            x-model="size"
            id="new-room-image-size-huge"
            :class="{ 'cursor-pointer': size !== '{{ .SizeHuge }}' }"
            class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
            type="radio"
            name="value"
            value="{{ .SizeHuge }}"
          />
          {{ end -}}
          <label
            :class="{ 'cursor-pointer': size !== '{{ .SizeHuge }}' }"
            class="flex items-center justify-center text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="new-room-image-size-huge"
          >
            Huge
          </label>
        </section>
      </section>
      <footer class="flex justify-end">
        <button type="submit" class="button-primary">Save</button>
      </footer>
    </form>
  </div>
</main>
{{ end }}
