<!-- prettier-ignore -->
{{ define "partial-room-grid-exit-arrow-west" }}
{{ if eq .ID 0 }}
<div
  class="flex items-center justify-center p-0.5"
  x-data="
    {
      showCreateLinkDialog: false,
      showCreateDialog: false,
      showLinkDialog: false
    }
  "
>
  <iconify-icon
    icon="tabler:chevron-left"
    height="20"
    width="20"
    class="icon"
    :class="roomGridEditMode ? 'cursor-pointer opacity-50 hover:opacity-100' : 'opacity-0'"
    @click.prevent="
      if (!roomGridEditMode) {
        return;
      }
      showCreateLinkDialog = true;
    "
  ></iconify-icon>
  <!-- prettier-ignore -->
  {{ template "partial-edit-room-exits-dialog-create-link" . }}
  {{ template "partial-edit-room-exits-dialog-link" .LinkDialog }}
  {{ template "partial-edit-room-exits-dialog-create" .CreateDialog }}
</div>
<!-- prettier-ignore -->
{{ else }}
{{ if .Canonical }}
<div class="flex items-center justify-center p-0.5">
  <iconify-icon
    icon="tabler:chevron-left"
    height="20"
    width="20"
    class="icon"
  ></iconify-icon>
</div>
{{ else if .OffMatrix }}
<div class="flex items-center justify-center p-0.5">
  <iconify-icon
    class="icon"
    icon="mynaui:chevron-double-left"
    height="20"
    width="20"
  ></iconify-icon>
</div>
{{ else }}
<div
  class="flex cursor-pointer items-center justify-center rounded-md p-0.5 hover:bg-secondary"
>
  <iconify-icon
    class="icon"
    icon="mynaui:chevron-double-left"
    height="20"
    width="20"
  ></iconify-icon>
</div>
<!-- prettier-ignore -->
{{ end }}
{{ end }}
{{ end }}
