{{ define "partial-profile-avatar-github-username" }}
<label
  class="text-base font-semibold"
  x-cloak
  x-show="avatarSource === 'github'"
>
  Github Username
</label>
<div
  class="flex flex-col gap-1"
  x-data="{ username: 'afteralec' }"
  x-cloak
  x-show="avatarSource === 'github'"
>
  <p class="text-sm leading-none">https://github.com/</p>
  <input
    id="gh-username"
    class="flex w-[180px] rounded-md border border-input bg-bg px-1 py-1 text-sm ring-offset-bg file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-fg focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
    placeholder=""
  />
</div>
{{ end }}
