{{ define "partial-profile-avatar-gravatar-description" }}
<p
  class="pt-1 text-sm leading-none text-muted-fg"
  x-show="avatarSource === 'gravatar'"
>
  Avatars sourced from Gravatar rely on your email. You can select which email
  to use for your avatar and any variant here.
  <br />
  <br />
  <a
    href="https://gravatar.com"
    target="_blank"
    rel="noreferrer noopener"
    class="cursor-pointer text-primary hover:text-primary/90 hover:underline"
  >
    For information on setting up your Gravatar, click here.
  </a>
</p>
{{ end }}
