{{ define "partial-profile-email" }}
<article class="flex flex-col pt-4" x-data="getProfileEmailData()">
  <header class="pl-3 md:pl-0">
    <h1 class="text-xl font-semibold leading-none">Email</h1>
  </header>
  <section id="profile-email-error" class="w-[60%]"></section>
  <!-- prettier-ignore -->
  {{ template "partial-profile-email-none" . }}
  {{ template "partial-profile-email-add" . }}
  <div id="emails" class="flex flex-col gap-2 pt-2">
    <!-- prettier-ignore -->
    {{ range .Emails }}
      {{ if .Verified }}
        {{ template "partial-profile-email-verified" . }}
      {{- else }}
        {{ template "partial-profile-email-unverified" . }}
      {{- end}}
    {{- end }}
  </div>
</article>
{{ end }}
