{{ define "partial-profile-password" }}
<article class="flex flex-col pt-4" x-data="getProfileChangePasswordData()">
  <header class="pl-3 md:pl-0">
    <h1 class="text-xl font-semibold leading-none">Password</h1>
  </header>
  <section id="profile-password-notice" class="w-[60%]"></section>
  <form
    class="w-[60%] space-y-4 px-4 pt-4"
    x-data=""
    @submit.prevent="
      current = '';
      password = '';
      confirmPassword = '';
      notifs.pw = false;
      notifs.cpw = false;
      setStrengths(strengths, password);
      setEvalStrengths(eval.pw.strengths, strengths);
      document.querySelector('#profile-password-current').blur();
      document.querySelector('#profile-password-new').blur();
      document.querySelector('#profile-password-confirm').blur();
    "
    hx-put="{{ .ChangePasswordPath }}"
    hx-target="#profile-password-notice"
  >
    <div class="space-y-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="change-password-current"
      >
        Current Password
      </label>
      <input
        type="password"
        name="current"
        placeholder=""
        value=""
        id="profile-password-current"
        class="input"
        x-model="current"
      />
    </div>
    <div class="space-y-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="profile-password-new"
      >
        New Password
      </label>
      <input
        type="password"
        name="password"
        placeholder=""
        value=""
        id="profile-password-new"
        class="input"
        x-model="password"
        @focus="notifs.pw = true;"
        @input="
          setStrengths(strengths, event.target.value);
          setEvalStrengths(eval.pw.strengths, strengths);
          password = event.target.value;
        "
      />
      {{ template "partial-password-strengths" }}
    </div>
    <div class="space-y-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="profile-password-confirm"
      >
        Confirm Password
      </label>
      <input
        type="password"
        name="confirm"
        placeholder=""
        value=""
        id="profile-password-confirm"
        class="input"
        x-model="confirmPassword"
        @focus="notifs.cpw = true;"
        @input="eval.cpw.eq = true;"
      />
      {{ template "partial-confirm-password" }}
    </div>
    <footer class="flex justify-end">
      <button
        type="submit"
        class="button-primary"
        :disabled="current.length === 0 || !isPasswordValid(password) || password !== confirmPassword"
      >
        Change Password
      </button>
    </footer>
  </form>
</article>
{{ end }}
