{{ define "partial-request-summary-actions" }}
<section class="flex items-center gap-2 pt-4">
  <!-- prettier-ignore -->
  {{ if and .ViewedByPlayer (or .StatusIsIncomplete .StatusIsReady) }}
  <!-- TODO: Get this in an explicit call for actions to show -->
  <button
    type="button"
    class="button-outline button-outline-destructive"
    @click.prevent="showCancelDialog = true;"
  >
    Cancel
  </button>

  <button
    type="button"
    class="button-primary"
    @click.prevent="showSubmitDialog = true;"
  >
    Submit
  </button>
  {{ end }}

  <!-- prettier-ignore -->
  {{ if .ShowApproveAction }}
  <button type="button" class="button-primary" @click.prevent="">
    Approve
  </button>
  {{ else if .ShowFinishReviewAction }}
  <button type="button" class="button-primary" @click.prevent="">
    Finish Review
  </button>
  {{ end }}
</section>
{{ end }}
