{{ define "partial-requests-summary-field" }}
<section class="space-y-2 pt-6" x-data="{ helpOpen: false }">
  <header>
    <h3 class="header-4">{{ .Label }}</h3>
  </header>
  <p class="whitespace-pre-wrap text-base leading-none">{{ .Content }}</p>

  <footer class="flex items-center gap-2 pt-2">
    <button
      type="button"
      class="button-outline"
      @click.prevent="helpOpen = !helpOpen"
      x-text="helpOpen ? 'Close Help' : 'Help'"
    >
      Help
    </button>

    {{ if .AllowEdit }}
    <a href="{{ .Path }}" class="button-outline">Edit</a>
    {{ end }}
  </footer>

  <div x-cloak x-show="helpOpen" class="pt-2">
    <!-- TODO: This needs to be general, include the help from insert -->
    {{ template "partial-character-application-summary-field-help" .Label }}
  </div>
</section>
{{ end }}
