{{ define "partial-character-application-summary-field-help" }}
<!-- prettier-ignore -->
{{ if eq . "Name" }}
  {{ template "partial-request-field-help-character-application-name" }}
{{ else if eq . "Gender" }}
  {{ template "partial-request-field-help-character-application-gender" }}
{{ else if eq . "Short Description" }}
  {{ template "partial-request-field-help-character-application-sdesc" }}
{{ else if eq . "Description" }}
  {{ template "partial-request-field-help-character-application-desc" }}
{{ else if eq . "Backstory" }}
  {{ template "partial-request-field-help-character-application-backstory" }}
{{ end }}
{{ end }}
