{{ define "requests-character-application-gender-form" }}

<form
  id="{{ .RequestFormID }}"
  class="space-y-2 px-4 pt-4"
  x-data="getCharacterApplicationGenderData(`{{ .FieldValue }}`)"
  @submit.prevent=""
  hx-patch="{{ .RequestFormPath }}"
  hx-swap="none"
>
  <section
    @click="gender = '{{ .GenderNonBinary }}'"
    class="flex items-center gap-3 rounded-md border px-8 py-4 hover:border-primary"
    :class="{
      'cursor-pointer': gender !== '{{ .GenderNonBinary }}',
      'border-black': gender === '{{ .GenderNonBinary }}',
    }"
  >
    {{ if .GenderIsNonBinary }}
    <input
      x-model="gender"
      id="character-application-flow-gender-nonbinary"
      :class="{ 'cursor-pointer': gender !== '{{ .GenderNonBinary }}' }"
      class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
      type="radio"
      name="{{ .Field }}"
      value="{{ .GenderNonBinary }}"
      checked
    />
    {{ else -}}
    <input
      x-model="gender"
      id="character-application-flow-gender-nonbinary"
      :class="{ 'cursor-pointer': gender !== '{{ .GenderNonBinary }}' }"
      class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
      type="radio"
      name="{{ .Field }}"
      value="{{ .GenderNonBinary }}"
    />
    {{ end -}}
    <label
      :class="{ 'cursor-pointer': gender !== '{{ .GenderNonBinary }}' }"
      class="flex items-center justify-center text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
      for="character-application-flow-gender-nonbinary"
    >
      Non-binary
      <span class="pl-1 text-xs font-medium text-muted-foreground"
        >(They/Them)</span
      >
    </label>
  </section>
  <section
    @click="gender = '{{ .GenderFemale }}'"
    class="flex items-center gap-3 rounded-md border px-8 py-4 hover:border-primary"
    :class="{
      'cursor-pointer': gender !== '{{ .GenderFemale }}',
      'border-black': gender === '{{ .GenderFemale }}',
    }"
  >
    {{ if .GenderIsFemale }}
    <input
      x-model="gender"
      id="character-application-flow-gender-female"
      :class="{ 'cursor-pointer': gender !== '{{ .GenderFemale }}' }"
      class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
      type="radio"
      name="{{ .Field }}"
      value="{{ .GenderFemale }}"
      checked
    />
    {{ else -}}
    <input
      x-model="gender"
      id="character-application-flow-gender-female"
      :class="{ 'cursor-pointer': gender !== '{{ .GenderFemale }}' }"
      class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
      type="radio"
      name="{{ .FieldGender }}"
      value="{{ .GenderFemale }}"
    />
    {{ end -}}
    <label
      :class="{ 'cursor-pointer': gender !== '{{ .GenderFemale }}' }"
      class="flex items-center justify-center text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
      for="character-application-flow-gender-female"
    >
      Female
      <span class="pl-1 text-xs font-medium text-muted-foreground"
        >(She/Her)</span
      >
    </label>
  </section>
  <section
    @click="gender = '{{ .GenderMale }}'"
    class="flex items-center gap-3 rounded-md border px-8 py-4 hover:border-primary"
    :class="{
      'cursor-pointer': gender !== '{{ .GenderMale }}',
      'border-black': gender === '{{ .GenderMale }}',
    }"
  >
    {{ if .GenderIsMale }}
    <input
      x-model="gender"
      id="character-application-flow-gender-male"
      :class="{ 'cursor-pointer': gender !== '{{ .GenderMale }}' }"
      class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
      type="radio"
      name="{{ .FieldGender }}"
      value="{{ .GenderMale }}"
      checked
    />
    {{ else -}}
    <input
      x-model="gender"
      id="character-application-flow-gender-male"
      :class="{ 'cursor-pointer': gender !== '{{ .GenderMale }}' }"
      class="focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
      type="radio"
      name="gender"
      value="{{ .GenderMale }}"
    />
    {{ end -}}
    <label
      :class="{ 'cursor-pointer': gender !== '{{ .GenderMale }}' }"
      class="flex items-center justify-center text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
      for="character-application-flow-gender-male"
    >
      Male
      <span class="pl-1 text-xs font-medium text-muted-foreground"
        >(He/Him)</span
      >
    </label>
  </section>
</form>

{{ end }}
