{{ define "404" }}
<main class="flex h-screen w-screen items-center justify-center">
  <div
    class="flex flex-col items-center justify-center gap-3 rounded-md border px-12 py-8"
  >
    <h1 class="font-semibold leading-none">
      <!-- prettier-ignore -->
      {{ if .NotFoundMessage }}
        {{ .NotFoundMessage }}
      {{ else -}}
        Turn back! Here there be monsters.
      {{ end -}}
    </h1>
    {{ if .NotFoundButtonLink }}
    <a href="{{ .NotFoundButtonLink }}" class="button-primary">
      {{ .NotFoundButtonText }}
    </a>
    {{ else -}}
    <a href="/" class="button-primary"> Return to Site </a>
    {{ end -}}
  </div>
</main>
{{ end }}
