{{ define "characters" }}
<main class="flex flex-col items-center justify-center">
  <div class="w-full text-fg md:w-[750px] md:px-4 lg:w-[1000px]">
    <header class="px-6 pt-2">
      <h2
        class="scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl"
      >
        Character Applications
      </h2>
      <p class="leading-7 text-muted-fg">
        All of your character applications
      </p>
    </header>
    <section id="create-character-application" class="px-6 pt-4">
      <div
        hx-post
        class="htmx-trade-indicator-out inline-flex h-10 cursor-pointer items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-fg ring-offset-bg transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      >
        Create a Character
      </div>
    </section>
    <section
      id="character-applications"
      class="flex flex-col items-center justify-center gap-4 px-6 pt-6 md:flex-row md:flex-wrap md:justify-start"
    >
      <!-- prettier-ignore -->
      {{ if .HasCharacterApplications -}}
        {{ range .CharacterApplicationSummaries -}}
          {{ template "partial-character-application-summary-player" . }}
        {{ end -}}
      {{ else -}}
      <span class="leading-none text-muted-fg"
        >You don't have any open character applications.</span
      >
      {{ end -}}
    </section>
  </div>
</main>
{{ end }}
