{{ define "view-help" }}
<main class="flex flex-col items-center justify-center">
  <article class="w-full text-fg md:w-[750px] md:px-4 lg:w-[1000px]">
    <header class="px-6 pt-2">
      <h2 class="text-3xl font-extrabold tracking-tight lg:text-4xl">Help</h2>
      <p class="leading-7 text-muted-fg">All help files</p>
    </header>
    <section
      id="help"
      class="flex flex-col items-center justify-center gap-4 px-6 pt-6 md:flex-row md:flex-wrap md:justify-start"
    >
      <!-- prettier-ignore -->
      {{ range .Help }}
        {{ template "partial-help" . }}
      {{ end }}
    </section>
  </article>
</main>
{{ end }}
