{{ define "login" }}

<main
  class="flex h-screen w-screen items-center justify-center"
  x-data="getLoginData()"
>
  <div class="w-full max-w-lg rounded-md border p-6">
    <div id="login-error"></div>
    <p class="pt-4">Please log in:</p>
    <form
      class="space-y-4 px-4 pt-4"
      @submit.prevent=""
      hx-post="/login"
      hx-swap="none"
    >
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-username"
        >
          Username
        </label>
        <input
          id="login-username"
          x-model="username"
          @input="
            username = sanitizeUsername(event.target.value);
          "
          class="flex h-10 w-full rounded-md border border-input bg-bg px-3 py-2 text-sm ring-offset-bg placeholder:text-muted-fg focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="username"
          value=""
          autofocus
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-password"
        >
          Password
        </label>
        <input
          type="password"
          id="login-password"
          x-model="password"
          @input="
            password = event.target.value;
          "
          class="flex h-10 w-full rounded-md border border-input bg-bg px-3 py-2 text-sm ring-offset-bg placeholder:text-muted-fg focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="password"
          value=""
        />
      </div>
      <a class="text-xs leading-none hover:underline" href="/recover"
        >Don't have your username or password? Click here.</a
      >
      <div class="flex justify-end">
        <button
          :disabled="!username.length || !password.length"
          class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-fg ring-offset-bg transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          type="submit"
        >
          Log In
        </button>
      </div>
    </form>
  </div>
</main>

{{ end }}
