{{ define "login" }}

<main
  class="flex h-screen w-screen items-center justify-center"
  x-data="getLoginData()"
>
  <div class="w-full max-w-lg rounded-md border p-6">
    <div id="login-error"></div>
    <p class="pt-4">Please log in:</p>
    <form
      class="space-y-4 px-4 pt-4"
      @submit.prevent=""
      hx-post="/login"
      hx-swap="none"
    >
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-username"
        >
          Username
        </label>
        <input
          id="login-username"
          x-model="username"
          @input="
            username = sanitizeUsername(event.target.value);
          "
          class="input"
          placeholder=""
          name="username"
          value=""
          autofocus
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="login-password"
        >
          Password
        </label>
        <input
          type="password"
          id="login-password"
          x-model="password"
          @input="
            password = event.target.value;
          "
          class="input"
          placeholder=""
          name="password"
          value=""
        />
      </div>
      <a class="text-xs leading-none hover:underline" href="/recover"
        >Don't have your username or password? Click here.</a
      >
      <div class="flex justify-end">
        <button
          type="submit"
          class="button-primary"
          :disabled="!username.length || !password.length"
        >
          Log In
        </button>
      </div>
    </form>
  </div>
</main>

{{ end }}
