{{ define "player-permissions-detail" }}
<main class="flex flex-col items-center justify-center">
  <div class="w-full text-fg md:w-[750px] md:px-4 lg:w-[1000px]">
    <header class="px-6 py-2">
      <h2
        class="scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl"
      >
        Player Permissions ({{ .Username }})
      </h2>
      <p class="leading-7 text-muted-fg">
        Adjust permissions for individual players here
      </p>
    </header>
    <section class="border-t" id="permissions">
      <!-- prettier-ignore -->
      {{ range .Permissions -}}
      {{ template "partial-player-permissions-detail" . }}
      {{ end -}}
    </section>
  </div>
</main>
{{ end }}
