{{ define "view-player-permissions" }}
<main
  class="flex flex-col items-center justify-center"
  x-data="getPlayerPermissionsData()"
>
  <div class="w-full text-fg md:w-[750px] md:px-4 lg:w-[1000px]">
    <header class="px-6 pt-2">
      <h2
        class="scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl"
      >
        Player Permissions
      </h2>
      <p class="leading-7 text-muted-fg">
        Adjust permissions for individual players here
      </p>
    </header>
    <section id="search-players" class="px-6 pt-4">
      <!-- TODO: Move this hx-post path to a passed var -->
      <input
        type="search"
        name="search"
        placeholder=""
        value=""
        autofocus
        id="player-permissions-username"
        class="input"
        hx-post="/player/search/player-permissions"
        hx-trigger="input changed delay:500ms, search"
        hx-target="#player-permissions-search-results"
      />
      <article id="player-permissions-search-results"></article>
    </section>
  </div>
</main>
{{ end }}
