{{ define "profile" }}
<main class="flex flex-col items-center justify-center">
  <div class="w-full text-foreground md:w-[750px] md:px-4 lg:w-[1000px]">
    <header>
      <h2
        class="scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl"
      >
        Profile
      </h2>
      <p class="leading-7 text-muted-foreground">Your player profile</p>
    </header>
    <!-- prettier-ignore -->
    {{ template "partial-profile-avatar" . }}
    {{ template "partial-profile-email" . }}
  </div>
</main>
{{ end }}
