{{ define "recover" }}
<main class="flex h-screen w-screen items-center justify-center">
  <div
    class="flex flex-col items-center justify-center gap-3 rounded-md border px-12 py-8"
  >
    <a class="text-base leading-none hover:underline" href="/recover/username"
      >Click here to recover your username</a
    >
    <a class="text-base leading-none hover:underline" href="/recover/password"
      >Click here to recover your password</a
    >
    <a class="text-xs leading-none hover:underline" href="/"
      >Click here to return to the site</a
    >
  </div>
</main>
{{ end }}
