{{ define "view-verify-email" }}
<main class="flex h-screen w-screen items-center justify-center">
  <div
    class="flex w-full max-w-lg flex-col items-center justify-center rounded-md border px-6 py-12"
  >
    <h1 class="text-base leading-none">
      Hello, <span class="font-semibold">{{ .Username }}</span>!
    </h1>
    <div class="p-2"></div>
    <button
      type="button"
      class="button button-primary"
      hx-post="/verify?t={{ .VerifyToken }}"
      hx-target="this"
      hx-swap="outerHTML"
    >
      Click here to verify {{ .Address }}
    </button>
  </div>
</main>
{{ end }}
