<main
  class="flex h-screen w-screen flex-col items-center justify-center"
  x-data="getCharacterApplicationFlowDescriptionData('{{ .Description }}')"
>
  <!-- prettier-ignore -->
  {{ template "web/views/partials/character/application/status/list" .Statuses }}
  <div class="w-full max-w-lg rounded-md border p-6">
    <div id="character-application-flow-error"></div>
    <p class="whitespace-nowrap">Write {{ .Name }}'s description:</p>
    <div class="pb-2 text-xs leading-none text-muted-foreground">
      This is how your character will appear when examined.
    </div>
    <div class="pb-2 text-sm leading-none">
      <!-- TODO: Write a helpfile for description and link to it here -->
      You <span class="font-semibold">should not</span> describe anything that
      isn't visible and physical.
    </div>
    <div class="pb-2 text-sm leading-none">
      <!-- TODO: Write a helpfile for description and link to it here -->
      You <span class="font-semibold">should not</span> describe a specific body
      posture or movement, since this will change during the course of the game.
      Leave this open!
    </div>
    <div class="pb-2 text-sm leading-none">
      <!-- TODO: Write a helpfile for description and link to it here -->
      You <span class="font-semibold">should not</span> describe {{ .Name }}'s
      genitals.
    </div>
    <div class="pb-2 text-sm leading-none">
      <!-- TODO: Write a helpfile for description and link to it here -->
      You <span class="font-semibold">should</span> describe {{ .Name }}'s
      distinct physical attributes - think hair, eye color, face shape, body
      shape. Scars, tattoos, blemishes, mutations, and visible augmentations are
      also valid.
    </div>
    <div class="pb-1 text-sm leading-none">
      <!-- TODO: Link to description change helpfile here -->
      There is a temporary description system in the game for things like
      temporary hairstyles, fleeting injuries, new scars after character
      creation, and the like, so you aren't stuck with what you put here! You
      can also request a description change later on, within reason.
    </div>
    <form
      class="space-y-4 px-4 pt-4"
      @submit.prevent=""
      hx-patch="{{ .CharacterApplicationDescriptionPath }}"
      hx-swap="none"
    >
      <div class="space-y-2">
        <textarea
          id="character-application-flow-description"
          x-model="description"
          @input="
            eval.desc.len = true;
            description = sanitizeCharacterDescription(event.target.value);
          "
          class="min-h-20 flex w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:border-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder=""
          name="description"
          autofocus
        ></textarea>
        <div>
          <!-- prettier-ignore -->
          {{ template "web/views/partials/character/application/description/requirements" }}
        </div>
      </div>
      <div class="flex justify-end gap-2">
        {{ if .BackLink }}
        <a
          href="{{ .BackLink }}"
          class="inline-flex h-10 items-center justify-center rounded-md border border-primary px-4 py-2 text-sm font-medium text-primary ring-offset-background transition-colors hover:bg-primary/10 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          type=""
        >
          Back
        </a>
        {{ end -}}
        <button
          :disabled="!isCharacterDescriptionValid(description)"
          class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          type="submit"
        >
          Next
        </button>
      </div>
    </form>
  </div>
</main>
