<!-- prettier-ignore -->
{{ define "partial-request-cancel-dialog" }}
{{ template "partial-modal-overlay" .Variable }}
<div
  class="z-3 fixed left-[50%] top-0 w-full max-w-lg translate-x-[-50%] border bg-background p-6 shadow-lg sm:rounded-lg md:top-[50%] md:translate-y-[-50%]"
  @click.away="{{ .Variable }} = false"
  x-cloak
  x-show="{{ .Variable }}"
>
  {{ template "partial-modal-close" .Variable }}
  <h3 class="pt-4 text-lg font-semibold leading-none tracking-tight">
    {{ .Header }}
  </h3>
  <p class="pt-2 text-base leading-none">{{ .Text }}</p>
  <div class="flex justify-end gap-2 pt-6">
    <button
      hx-delete="{{ .Path }}"
      class="inline-flex h-10 items-center justify-center rounded-md bg-rose-800 px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-rose-700 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      type="button"
    >
      {{ .ButtonText }}
    </button>
  </div>
</div>
{{ end }}
