{{ define "layout-request-field-standalone" }}
<!doctype html>
<html lang="en">
  {{ template "partial-head" . }}
  <body class="{{ .Theme }}">
    <main
      class="flex h-screen w-full flex-col items-center justify-center"
      x-data="getRequestData()"
    >
      <section class="w-full max-w-lg rounded-md border p-6">
        <!-- prettier-ignore -->
        {{ template "partial-request-field-header" . }}

        {{ .Help }}

        {{ template "partial-request-divider" . }}
        {{ if .ChangeRequest }}
          {{ template "partial-request-change-request" .ChangeRequest }}
        {{ else }}
          {{ template "partial-request-change-request-empty" }}
        {{ end }}

        {{ embed }}

        {{ template "partial-request-field-footer" . }}
      </section>
    </main>
  </body>
</html>
{{ end }}
