{{ define "partial-confirm-password" }}
<div x-cloak x-show="notifs.pw">
  <p
    class="text-xs leading-none text-muted-foreground"
    :class="eval.cpw.eq ? 'text-rose-800' : 'text-muted-foreground'"
    x-cloak
    x-show="!eval.cpw.eq"
  >
    Passwords don't match.
  </p>
  <p
    class="text-xs leading-none text-emerald-800"
    x-cloak
    x-show="eval.cpw.eq && password === confirmPassword"
  >
    Passwords match!
  </p>
  <p
    class="text-xs leading-none text-rose-800"
    x-cloak
    x-show="eval.cpw.eq && password !== confirmPassword"
  >
    Passwords don't match.
  </p>
</div>
{{ end }}
