<article class="flex flex-col gap-2 py-6" x-data="getProfileEmailData()">
  <header>
    <h1 class="text-xl font-semibold leading-none">Email</h1>
  </header>
  {{ template "web/views/partials/profile/email/add-email" . }}
  <div id="emails" class="flex flex-col gap-2">
    <!-- prettier-ignore -->
    {{ if .NoEmails }}
      {{ template "web/views/partials/profile/email/no-email" }}
    {{- else }}
      {{ range .Emails }}
        {{ if .Verified }}
          {{ template "web/views/partials/profile/email/verified-email" . }}
        {{- else }}
          {{ template "web/views/partials/profile/email/unverified-email" . }}
        {{- end}}
      {{- end }}
    {{- end }}
  </div>
</article>
