<article class="flex flex-col border-b py-6" x-data="getProfileEmailData()">
  <header class="pl-3 pt-2 md:pl-0">
    <h1 class="text-xl font-semibold leading-none">Email</h1>
  </header>
  <!-- prettier-ignore -->
  {{ template "web/views/partials/profile/email/no-email" }}
  {{ template "web/views/partials/profile/email/add-email" . }}
  <div id="emails" class="flex flex-col gap-2">
    <!-- prettier-ignore -->
    {{ range .Emails }}
      {{ if .Verified }}
        {{ template "web/views/partials/profile/email/verified-email" . }}
      {{- else }}
        {{ template "web/views/partials/profile/email/unverified-email" . }}
      {{- end}}
    {{- end }}
  </div>
</article>
