<article
  class="flex flex-col gap-2 border-b py-6"
  x-data="getProfileEmailData()"
>
  <header class="pl-3 md:pl-0">
    <h1 class="text-xl font-semibold leading-none">Email</h1>
  </header>
  <div id="profile-email-error" class="w-[60%]"></div>
  <!-- prettier-ignore -->
  {{ template "views/partials/profile/email/no-email" }}
  {{ template "views/partials/profile/email/add-email" . }}
  <div id="emails" class="flex flex-col gap-2">
    <!-- prettier-ignore -->
    {{ range .Emails }}
      {{ if .Verified }}
        {{ template "views/partials/profile/email/verified" . }}
      {{- else }}
        {{ template "views/partials/profile/email/unverified" . }}
      {{- end}}
    {{- end }}
  </div>
</article>
